---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Elektrotechnik und Informatik">
    <h2>
        Die Kalender-Dateien werden vermutlich zwischen dem 01. und 05. September veröffentlicht.
    </h2>
</Layout>
