---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Elektrotechnik und Informatik">
    <h2>Stand: 10.09.2023</h2>

    <h3>1. Semester</h3>

    <details>
        <summary>Elektrotechnik</summary>
        <ul>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/1_semester/1_Sem_Elektrotechnik_Gruppe_1.ics"
                    >Elektrotechnik Gruppe 1</a
                >
            </li>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/1_semester/1_Sem_Elektrotechnik_Gruppe_2.ics"
                    >Elektrotechnik Gruppe 2</a
                >
            </li>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/1_semester/1_Sem_Elektrotechnik_Gruppe_3.ics"
                    >Elektrotechnik Gruppe 3</a
                >
            </li>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/1_semester/1_Sem_Elektrotechnik_Gruppe_4.ics"
                    >Elektrotechnik Gruppe 4</a
                >
            </li>
        </ul>
    </details>

    <details>
        <summary>Mechatronik</summary>
        <ul>
            <li>
                <a href="/files/eletrotechnik-informatik/1_semester/1_Sem_Mechatronik_Gruppe_1.ics"
                    >Mechatronik Gruppe 1</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/1_semester/1_Sem_Mechatronik_Gruppe_2.ics"
                    >Mechatronik Gruppe 2</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/1_semester/1_Sem_Mechatronik_Gruppe_3.ics"
                    >Mechatronik Gruppe 3</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/1_semester/1_Sem_Mechatronik_Gruppe_4.ics"
                    >Mechatronik Gruppe 4</a
                >
            </li>
        </ul>
    </details>

    <details>
        <summary>Medieningenieur-/in</summary>
        <ul>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/1_semester/1_Sem_Medieningenieur_Gruppe_1.ics"
                    >Medieningenieur-/in Gruppe 1</a
                >
            </li>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/1_semester/1_Sem_Medieningenieur_Gruppe_2.ics"
                    >Medieningenieur-/in Gruppe 2</a
                >
            </li>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/1_semester/1_Sem_Medieningenieur_Gruppe_3.ics"
                    >Medieningenieur-/in Gruppe 3</a
                >
            </li>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/1_semester/1_Sem_Medieningenieur_Gruppe_4.ics"
                    >Medieningenieur-/in Gruppe 4</a
                >
            </li>
        </ul>
    </details>

    <details>
        <summary>Informatik</summary>
        <ul>
            <li>
                <a href="/files/eletrotechnik-informatik/1_semester/1_Sem_Informatik_Gruppe_1.ics"
                    >Informatik Gruppe 1</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/1_semester/1_Sem_Informatik_Gruppe_2.ics"
                    >Informatik Gruppe 2</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/1_semester/1_Sem_Informatik_Gruppe_3.ics"
                    >Informatik Gruppe 3</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/1_semester/1_Sem_Informatik_Gruppe_4.ics"
                    >Informatik Gruppe 4</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/1_semester/1_Sem_Informatik_Gruppe_5.ics"
                    >Informatik Gruppe 5</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/1_semester/1_Sem_Informatik_Gruppe_6.ics"
                    >Informatik Gruppe 6</a
                >
            </li>
        </ul>
    </details>

    <details>
        <summary>Wirtschaftsingenieurwesen - Elektrotechnik</summary>
        <ul>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/1_semester/1_Sem_Wirtschaftsingenieurwesen_E_Technik_Gr_1.ics"
                    >Wirtschaftsingenieurwesen Gruppe 1</a
                >
            </li>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/1_semester/1_Sem_Wirtschaftsingenieurwesen_E_Technik_Gr_2.ics"
                    >Wirtschaftsingenieurwesen Gruppe 2</a
                >
            </li>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/1_semester/1_Sem_Wirtschaftsingenieurwesen_E_Technik_Gr_3.ics"
                    >Wirtschaftsingenieurwesen Gruppe 3</a
                >
            </li>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/1_semester/1_Sem_Wirtschaftsingenieurwesen_E_Technik_Gr_4.ics"
                    >Wirtschaftsingenieurwesen Gruppe 4</a
                >
            </li>
        </ul>
    </details>

    <h3>3. Semester</h3>

    <details>
        <summary>Elektrotechnik</summary>
        <ul>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/3_semester/3_Sem_Elektrotechnik_Energie_Gruppe_1.ics"
                    >Energie Gruppe 1</a
                >
            </li>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/3_semester/3_Sem_Elektrotechnik_Energie_Gruppe_2.ics"
                    >Energie Gruppe 2</a
                >
            </li>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/3_semester/3_Sem_Elektrotechnik_Kommunikation_Gruppe_1.ics"
                    >Kommunikation Gruppe 1</a
                >
            </li>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/3_semester/3_Sem_Elektrotechnik_Informatik.ics"
                    >Technische Informatik Gruppe 1</a
                >
            </li>
        </ul>
    </details>

    <details>
        <summary>Mechatronik</summary>
        <ul>
            <li>
                <a href="/files/eletrotechnik-informatik/3_semester/3_Sem_Mechatronik_Gruppe_1.ics"
                    >Mechatronik Gruppe 1</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/3_semester/3_Sem_Mechatronik_Gruppe_2.ics"
                    >Mechatronik Gruppe 2</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/3_semester/3_Sem_Mechatronik_Gruppe_3.ics"
                    >Mechatronik Gruppe 3</a
                >
            </li>
        </ul>
    </details>

    <details>
        <summary>Medieningenieur-/in</summary>
        <ul>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/3_semester/3_Sem_Medieningenieur_Gruppe_1.ics"
                    >Medieningenieur-/in Gruppe 1</a
                >
            </li>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/3_semester/3_Sem_Medieningenieur_Gruppe_2.ics"
                    >Medieningenieur-/in Gruppe 2</a
                >
            </li>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/3_semester/3_Sem_Medieningenieur_Gruppe_3.ics"
                    >Medieningenieur-/in Gruppe 3</a
                >
            </li>
        </ul>
    </details>

    <details>
        <summary>Informatik</summary>
        <ul>
            <li>
                <a href="/files/eletrotechnik-informatik/3_semester/3_Sem_INF_AE_Gruppe_1.ics"
                    >Anwendungsentwickelung Gruppe 1</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/3_semester/3_Sem_INF_AE_Gruppe_2.ics"
                    >Anwendungsentwickelung Gruppe 2</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/3_semester/3_Sem_INF_AE_Gruppe_3.ics"
                    >Anwendungsentwickelung Gruppe 3</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/3_semester/3_Sem_INF_KI_Gruppe_1.ics"
                    >Künstliche Intelligenz Gruppe 1</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/3_semester/3_Sem_INF_KI_Gruppe_2.ics"
                    >Künstliche Intelligenz Gruppe 2</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/3_semester/3_Sem_INF_KI_Gruppe_3.ics"
                    >Künstliche Intelligenz Gruppe 3</a
                >
            </li>
        </ul>
    </details>

    <details>
        <summary>Wirtschaftsingenieurwesen - Elektrotechnik</summary>
        <ul>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/3_semester/3_Sem_Wing_Digitale_Wirtschaft.ics"
                    >Digitale Wirtschaft Gruppe 1</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/3_semester/3_Sem_Wing_NE_Gruppe_1.ics"
                    >Nachhaltige Energiesysteme Gruppe 1</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/3_semester/3_Sem_Wing_NE_Gruppe_2.ics"
                    >Nachhaltige Energiesysteme Gruppe 2</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/3_semester/3_Sem_Wing_Kommunikation.ics"
                    >Kommunikation Gruppe 1</a
                >
            </li>
        </ul>
    </details>

    <h3>5. Semester</h3>

    <details>
        <summary>Elektrotechnik</summary>
        <ul>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/5_semester/5_Sem_Elektrotechnik_Energie_Gruppe_1.ics"
                    >Energie Gruppe 1</a
                >
            </li>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/5_semester/5_Sem_Elektrotechnik_Kommunikation.ics"
                    >Kommunikation Gruppe 1</a
                >
            </li>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/5_semester/5_Sem_Elektrotechnik_Informatik.ics"
                    >Technische Informatik Gruppe 1</a
                >
            </li>
        </ul>
    </details>

    <details>
        <summary>Mechatronik</summary>
        <ul>
            <li>
                <a href="/files/eletrotechnik-informatik/5_semester/5_Sem_Mechatronik_Gruppe_1.ics"
                    >Mechatronik Gruppe 1</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/5_semester/5_Sem_Mechatronik_Gruppe_2.ics"
                    >Mechatronik Gruppe 2</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/5_semester/5_Sem_Mechatronik_Gruppe_3.ics"
                    >Mechatronik Gruppe 3</a
                >
            </li>
        </ul>
    </details>

    <details>
        <summary>Medieningenieur-/in</summary>
        <ul>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/5_semester/5_Sem_Medieningenieur_Gruppe_1.ics"
                    >Medieningenieur-/in Gruppe 1</a
                >
            </li>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/5_semester/5_Sem_Medieningenieur_Gruppe_2.ics"
                    >Medieningenieur-/in Gruppe 2</a
                >
            </li>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/5_semester/5_Sem_Medieningenieur_Gruppe_3.ics"
                    >Medieningenieur-/in Gruppe 3</a
                >
            </li>
        </ul>
    </details>

    <details>
        <summary>Informatik</summary>
        <ul>
            <li>
                <a href="/files/eletrotechnik-informatik/5_semester/5_Sem_INF_AE_Gruppe_1.ics"
                    >Anwendungsentwickelung Gruppe 1</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/5_semester/5_Sem_INF_AE_Gruppe_2.ics"
                    >Anwendungsentwickelung Gruppe 2</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/5_semester/5_Sem_INF_AE_Gruppe_3.ics"
                    >Anwendungsentwickelung Gruppe 3</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/5_semester/5_Sem_INF_KI_Gruppe_1.ics"
                    >Künstliche Intelligenz Gruppe 1</a
                >
            </li>
        </ul>
    </details>

    <details>
        <summary>Wirtschaftsingenieurwesen - Elektrotechnik</summary>
        <ul>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/5_semester/5_Sem_Wing_Digitale_Wirtschaft.ics"
                    >Digitale Wirtschaft Gruppe 1</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/5_semester/5_Sem_Wing_NE_Gruppe_1.ics"
                    >Nachhaltige Energiesysteme Gruppe 1</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/5_semester/5_Sem_Wing_NE_Gruppe_2.ics"
                    >Nachhaltige Energiesysteme Gruppe 2</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/5_semester/5_Sem_Wing_Kommunikation.ics"
                    >Kommunikation Gruppe 1</a
                >
            </li>
        </ul>
    </details>

    <h3>Wahlmodule Bachelor</h3>

    <details>
        <summary>Energietechnik</summary>
        <ul>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/wm_bachelor/Wahlmodule_Energietechnik_1.ics"
                    >Energietechnik Gruppe 1</a
                >
            </li>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/wm_bachelor/Wahlmodule_Energietechnik_2.ics"
                    >Energietechnik Gruppe 2</a
                >
            </li>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/wm_bachelor/Wahlmodule_Energietechnik_3.ics"
                    >Energietechnik Gruppe 3</a
                >
            </li>
        </ul>
    </details>

    <details>
        <summary>Kommunikation</summary>
        <ul>
            <li>
                <a href="/files/eletrotechnik-informatik/wm_bachelor/Wahlmodule_Kommunikation_1.ics"
                    >Kommunikation Gruppe 1</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/wm_bachelor/Wahlmodule_Kommunikation_2.ics"
                    >Kommunikation Gruppe 2</a
                >
            </li>
        </ul>
    </details>

    <details>
        <summary>Informatik</summary>
        <ul>
            <li>
                <a href="/files/eletrotechnik-informatik/wm_bachelor/Wahlmodule_Informatik_1.ics"
                    >Informatik Gruppe 1</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/wm_bachelor/Wahlmodule_Informatik_2.ics"
                    >Informatik Gruppe 2</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/wm_bachelor/Wahlmodule_Informatik_3.ics"
                    >Informatik Gruppe 3</a
                >
            </li>
        </ul>
    </details>

    <details>
        <summary>Mechatronik</summary>
        <ul>
            <li>
                <a href="/files/eletrotechnik-informatik/wm_bachelor/Wahlmodule_Mechatronik_1.ics"
                    >Mechatronik Gruppe 1</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/wm_bachelor/Wahlmodule_Mechatronik_2.ics"
                    >Mechatronik Gruppe 2</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/wm_bachelor/Wahlmodule_Mechatronik_3.ics"
                    >Mechatronik Gruppe 3</a
                >
            </li>
        </ul>
    </details>

    <h3>Mastermodule</h3>

    <details>
        <summary>Elektrische Technologien</summary>
        <ul>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/wm_master/Master_ET_Pflichtmodule_Vertiefung_Energietechnik.ics"
                    >Pflichtmodule Energietechnik</a
                >
            </li>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/wm_master/Master_ET_Pflichtmodule_Vertiefung_Kommunikationstechnik.ics"
                    >Pflichtmodule Kommunikationstechnik</a
                >
            </li>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/wm_master/Master_ET_Pflichtmodule_Vertiefung_Mechatronik.ics"
                    >Pflichtmodule Mechatronik</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/wm_master/Mastermodule_Energietechnik.ics"
                    >Vertiefungsmodule Energietechnik</a
                >
            </li>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/wm_master/Mastermodule_Kommunikationstechnik.ics"
                    >Vertiefungsmodule Kommunikationstechnik</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/wm_master/Mastermodule_Mechatronik.ics"
                    >Vertiefungsmodule Mechatronik</a
                >
            </li>
        </ul>
    </details>

    <details>
        <summary>Information Engineering</summary>
        <ul>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/wm_master/Master_Information_Engineering_Compulsory_Courses.ics"
                    >Plichtmodule</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/wm_master/Elective_Modules_1.ics"
                    >Wahlmodule 1</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/wm_master/Elective_Modules_2.ics"
                    >Wahlmodule 2</a
                >
            </li>
        </ul>
    </details>

    <h3>Wahlmodule Interdisziplinäre Lehre</h3>
    <details>
        <summary>Informationstechnologie</summary>
        <ul>
            <li>
                <a
                    href="/files/eletrotechnik-informatik/wm_ida/Wahlmodule_interdisziplinäre_Lehre_1.ics"
                    >Wahlmodule Interdisziplinäre Lehre auch für Master</a
                >
            </li>
        </ul>
    </details>

    <h3>Lehrende</h3>
    <details>
        <summary>Alle Dozentenpläne</summary>
        <ul>
            <li><a href="/files/eletrotechnik-informatik/dozenten/A_Neumann.ics">A. Neumann</a></li>
            <li><a href="/files/eletrotechnik-informatik/dozenten/A_Raschke.ics">A. Raschke</a></li>
            <li><a href="/files/eletrotechnik-informatik/dozenten/A_Totzek.ics">A. Totzek</a></li>
            <li><a href="/files/eletrotechnik-informatik/dozenten/C_Brauer.ics">C. Brauer</a></li>
            <li><a href="/files/eletrotechnik-informatik/dozenten/C_Glüsing.ics">C. Glüsing</a></li>
            <li><a href="/files/eletrotechnik-informatik/dozenten/C_Kopka.ics">C. Kopka</a></li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/C_P_Piontke.ics">C. Piontke</a>
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/C_Schwatlo.ics">C. Schwatlo</a>
            </li>
            <li><a href="/files/eletrotechnik-informatik/dozenten/E_Moritz.ics">E. Moritz</a></li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/E_Petersen.ics">E. Petersen</a>
            </li>
            <li><a href="/files/eletrotechnik-informatik/dozenten/F_Bähnck.ics">F. Bähnck</a></li>
            <li><a href="/files/eletrotechnik-informatik/dozenten/F_Caspar.ics">F. Caspar</a></li>
            <li><a href="/files/eletrotechnik-informatik/dozenten/G_Gesell.ics">G. Gesell</a></li>
            <li><a href="/files/eletrotechnik-informatik/dozenten/Hr_Sachse.ics">Hr. Sachse</a></li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/Hr_Schmagold.ics">Hr. Schmagold</a
                >
            </li>
            <li><a href="/files/eletrotechnik-informatik/dozenten/Hr_Söhl.ics">Hr. Söhl</a></li>
            <li><a href="/files/eletrotechnik-informatik/dozenten/H_Eilers.ics">H. Eilers</a></li>
            <li><a href="/files/eletrotechnik-informatik/dozenten/H_Mohs.ics">H. Mohs</a></li>
            <li><a href="/files/eletrotechnik-informatik/dozenten/H_Müller.ics">H. Müller</a></li>
            <li><a href="/files/eletrotechnik-informatik/dozenten/H_Oenings.ics">H. Oenings</a></li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/H_Schukies.ics">H. Schukies</a>
            </li>
            <li><a href="/files/eletrotechnik-informatik/dozenten/I_Baus.ics">I. Baus</a></li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/J_Dittmann_Wunderlich.ics"
                    >J. Dittmann-Wunderlich</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/J_Hoffmüller.ics">J. Hoffmüller</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/J_Kohlmorgen.ics">J. Kohlmorgen</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/J_Nowitzki.ics">J. Nowitzki</a>
            </li>
            <li><a href="/files/eletrotechnik-informatik/dozenten/J_Rähse.ics">J. Rähse</a></li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/K_Hinkelmann.ics">K. Hinkelmann</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/L_Jorswieck.ics">L. Jorswieck</a>
            </li>
            <li><a href="/files/eletrotechnik-informatik/dozenten/M_Lederer.ics">M. Lederer</a></li>
            <li><a href="/files/eletrotechnik-informatik/dozenten/M_Riedel.ics">M. Riedel</a></li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/M_Senkbeil.ics">M. Senkbeil</a>
            </li>
            <li><a href="/files/eletrotechnik-informatik/dozenten/M_Sieloff.ics">M. Sieloff</a></li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/M_Teichmann.ics">M. Teichmann</a>
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/Prof_Acker.ics">Prof. Acker</a>
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/Prof_Badri_Höher.ics"
                    >Prof. Badri. Höher</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/Prof_Bicakci.ics">Prof. Bicakci</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/Prof_Brauer.ics">Prof. Brauer</a>
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/Prof_Ehlers.ics">Prof. Ehlers</a>
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/Prof_Eisele.ics">Prof. Eisele</a>
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/Prof_Hennig.ics">Prof. Hennig</a>
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/Prof_Immel.ics">Prof. Immel</a>
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/Prof_Jacobsen.ics"
                    >Prof. Jacobsen</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/Prof_Jetzek.ics">Prof. Jetzek</a>
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/Prof_Kallies.ics">Prof. Kallies</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/Prof_Krueger.ics">Prof. Krueger</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/Prof_Lebert.ics">Prof. Lebert</a>
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/Prof_Luczak.ics">Prof. Luczak</a>
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/Prof_Lüssem.ics">Prof. Lüssem</a>
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/Prof_Manzke.ics">Prof. Manzke</a>
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/Prof_Mielke.ics">Prof. Mielke</a>
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/Prof_Neumann.ics">Prof. Neumann</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/Prof_Osterwald.ics"
                    >Prof. Osterwald</a
                >
            </li>
            <li><a href="/files/eletrotechnik-informatik/dozenten/Prof_Patz.ics">Prof. Patz</a></li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/Prof_Petersen.ics"
                    >Prof. Petersen</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/Prof_Prochnow.ics"
                    >Prof. Prochnow</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/Prof_Rinder.ics">Prof. Rinder</a>
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/Prof_Schmidt_Rethmeier.ics"
                    >Prof. Schmidt-Rethmeier</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/Prof_Schramm.ics">Prof. Schramm</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/Prof_Schümann.ics"
                    >Prof. Schümann</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/Prof_Stock.ics">Prof. Stock</a>
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/Prof_Weber.ics">Prof. Weber</a>
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/Prof_Wehrend.ics">Prof. Wehrend</a
                >
            </li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/Prof_Woelk.ics">Prof. Woelk</a>
            </li>
            <li><a href="/files/eletrotechnik-informatik/dozenten/Prof_Wree.ics">Prof. Wree</a></li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/R_Hellmund.ics">R. Hellmund</a>
            </li>
            <li><a href="/files/eletrotechnik-informatik/dozenten/R_Raßmann.ics">R. Raßmann</a></li>
            <li><a href="/files/eletrotechnik-informatik/dozenten/R_Thomsen.ics">R. Thomsen</a></li>
            <li><a href="/files/eletrotechnik-informatik/dozenten/S_Herzog.ics">S. Herzog</a></li>
            <li><a href="/files/eletrotechnik-informatik/dozenten/S_Koß.ics">S. Koß</a></li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/S_Schmarbeck.ics">S. Schmarbeck</a
                >
            </li>
            <li><a href="/files/eletrotechnik-informatik/dozenten/S_Wagner.ics">S. Wagner</a></li>
            <li><a href="/files/eletrotechnik-informatik/dozenten/T_Greve.ics">T. Greve</a></li>
            <li><a href="/files/eletrotechnik-informatik/dozenten/T_Rixen.ics">T. Rixen</a></li>
            <li>
                <a href="/files/eletrotechnik-informatik/dozenten/Y_Kocer_(FB_W).ics"
                    >Y. Kocer. (FB. W)</a
                >
            </li>
        </ul>
    </details>
</Layout>
