---
import Layout from "../layouts/Layout.astro";
---

<Layout title="">
    <h2>Anmerkungen</h2>

    <h3>
        Achtung: Aufgrund eines Fehlers im parsing der Pläne kann es derzeit dazu kommen das Termine
        den falschen Wochentag aber die richtige Uhrzeit haben! An dem Problem wird gearbeitet!
    </h3>

    <p>
        <strong>Es gibt keine Haftung für die Richtigkeit der Pläne!</strong>
    </p>

    <p>
        Bitte prüft den Plan vor der Nutzung auf Richtigkeit. Nutzt hierzu bitte die
        <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.fh-kiel.de/fachbereiche/informatik-und-elektrotechnik/studiengaenge/uebergreifende-informationen/infos-fuer-studierende/veranstaltungen-sommersemester/"
            >offiziellen Pläne</a
        >
         der FH Kiel. Bei gefundenen Fehlern gebt mir bitte per Mail (<a
            href="mailto:jon.haase@student.fh-kiel.de">jon.haase@student.fh-kiel.de</a
        >) Bescheid.
    </p>

    <p>
        Den Quellcode findet ihr auf
        <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/sleepsleeprepeat/fh-kalender">Github</a
        >. Bitte beachtet, dass ich kein Informatiker bin und der Code daher nicht schön ist oder
        irgendwelchen Richtlinien folgt. Für Tipps und Verbessungsvorschläge bin ich dankbar.
    </p>
</Layout>
