---
import Layout from "../layouts/Layout.astro";
import Status from "../components/Status.astro";
---

<Layout title="">
    <!-- <h2>Aktuelle Informationen</h2> -->
    <!-- <blockquote>
        Die Pläne für den Fachbereich Informatik und Elektrotechnik werden am
        26.02.2024 veröffentlicht da noch Änderungen vorgenommen werden.
    </blockquote> -->

    <h2>Status</h2>
    <Status
        entries={[
            {
                status: "green",
                department: "Informatik und Elektrotechnik",
                notes: "Letzte Aktualisierung: 26.02.2024",
            },
            {
                status: "yellow",
                department: "Wirtschaft und Recht",
                notes: "Veröffentlichung vorraussichtlich zwischen 26.02.2024 und 01.03.2024",
            },
            {
                status: "orange",
                department: "Medien & Bauingenieurwesen",
                notes: "Veröffentlichungsdatum derzeit noch unbekannt",
            },
            {
                status: "red",
                department: "Maschienenbau",
                notes: "Keine Veröffenlichung in diesem Semester",
            },
            {
                status: "red",
                department: "Soziale Arbeit & Gesundheit",
                notes: "Keine Veröffenlichung in diesem Semester",
            },
        ]}
    />

    <h2>Änderungen</h2>
    <blockquote>
        Neue Dateien für:
        <ul>
            <li>Wahlmodule Vertiefung Informatik Teil 1</li>
            <li>Wahlmodule Vertiefung Informatik Teil 2</li>
            <li>Wahlmodule Vertiefung Informatik Teil 3</li>
        </ul>
        <footer>
            <cite>15.03.2024</cite>
        </footer>
    </blockquote>
    <blockquote>
        Neue Dateien für:
        <ul>
            <li>2. Semester Informatik Gruppe 3</li>
            <li>2. Semester Mechatronik Gruppe 1</li>
            <li>2. Semester Mechatronik Gruppe 2</li>
            <li>4. Semester Elektrotechnik Energietechnik Gruppe 1</li>
            <li>4. Semester Elektrotechnik Energietechnik Gruppe 2</li>
            <li>4. Semester Elektrotechnik Kommunikation</li>
            <li>4. Semester Wirtschaftsingenieurwesen Gruppe NE 1</li>
            <li>4. Semester Wirtschaftsingenieurwesen Gruppe NE 2</li>
            <li>Wahlmodule Vertiefung Informatik Teil 1</li>
            <li>Wahlmodule Vertiefung Informatik Teil 2</li>
            <li>Wahlmodule Vertiefung Informatik Teil 3</li>
            <li>Wahlmodule Vertiefung Mechatronik Teil 1</li>
            <li>Wahlmodule Vertiefung Mechatronik Teil 2</li>
            <li>Wahlmodule Vertiefung Mechatronik Teil 3</li>
            <li>Master Computer Science Compulsory Courses</li>
            <footer>
                <cite>14.03.2024</cite>
            </footer>
        </ul>
    </blockquote>
    <blockquote>
        Neue Dateien für:
        <ul>
            <li>Wahlmodule Vertiefung Informatik Teil 1</li>
            <li>Wahlmodule Vertiefung Informatik Teil 2</li>
            <li>Wahlmodule Vertiefung Informatik Teil 3</li>
        </ul>
        <footer>
            <cite>29.02.2024</cite>
        </footer>
    </blockquote>
</Layout>
