---
import Layout from "../layouts/Layout.astro";
import Status from "../components/Status.astro";
---

<Layout title="">
  <!-- <h2>Aktuelle Informationen</h2> -->
  <!-- <blockquote>
        Die Pläne für den Fachbereich Informatik und Elektrotechnik werden am
        26.02.2024 veröffentlicht da noch Änderungen vorgenommen werden.
    </blockquote> -->

  <h2>Status zu den Fachbereichen</h2>
  <Status
    entries={[
      {
        status: "green",
        department: "Informatik und Elektrotechnik",
        notes: "Alle Pläne sind veröffentlicht",
      },
      {
        status: "red",
        department: "Wirtschaft und Recht",
        notes: "Keine Veröffenlichung in diesem Semester",
      },
      {
        status: "red",
        department: "Medien & Bauingenieurwesen",
        notes: "Keine Veröffenlichung in diesem Semester",
      },
      {
        status: "red",
        department: "Maschienenbau",
        notes: "Keine Veröffenlichung in diesem Semester",
      },
      {
        status: "red",
        department: "Soziale Arbeit & Gesundheit",
        notes: "Keine Veröffenlichung in diesem Semester",
      },
    ]}
  />

  <h2>Änderungen</h2>

  <blockquote>
    Folgende Dateien wurden geändert:
    <ul>
      <li>Wirtschaftsingenieurwesen-Elektrotechnik 2. Semester Informatik Gruppe 1</li>
      <li>Wirtschaftsingenieurwesen-Elektrotechnik 2. Semester Nachhaltige Energiesysteme Gruppe 1</li>
      <li>Wirtschaftsingenieurwesen-Elektrotechnik 2. Semester Nachhaltige Energiesysteme Gruppe 2</li>
      <li>Master Elektrische Technologien Pflichtmodule Vertiefung Energietechik</li>
      <li>Master Computer Science / Master Information Engineering Compulsory Course Part 1</li>
      <li>Master Computer Science / Master Information Engineering Compulsory Course Part 2</li>
      <li>Mastermoduke Energietechik</li>
      <li>Dozentenpläne für C. Schwatlo, Prof. Acker, Prof. Prochnow und Prof. Schümann</li>
    </ul>
    <footer>
      <cite>17.03.2025</cite>
    </footer>
  </blockquote>

  <blockquote>
    Folgende Dateien wurden geändert:
    <ul>
      <li>Alle Dozentenpläne</li>
      <li>Informatik 2. Semester Gruppe 4</li>
      <li>Master Computer Science / Master Information Engineering Compulsory Courses Part 1</li>
      <li>Master Computer Science / Master Information Engineering Compulsory Courses Part 2</li>
    </ul>
    <footer>
      <cite>25.02.2025</cite>
    </footer>
  </blockquote>

  <blockquote>
    Alle studentischen Semesterpläne für IuE wurden veröffentlicht, ausgenommen: 
    <ul>
      <li>MCS - Compulsory Elective Modules Focus: Computer Science for Media</li>
      <li>MCS - Compulsory Elective Modules Focus: Computer Science for Artificial Intelligence</li>
    </ul>
    <footer>
      <cite>22.02.2025</cite>
    </footer>
  </blockquote>

  <blockquote>
    Die Dateien der Dozenten für IuE wurden aktualisiert, da alles um eine Woche verschoben war.
    <footer>
      <cite>22.02.2025</cite>
    </footer>
  </blockquote>

  <blockquote>
    Die Dateien der Dozenten für IuE wurden aktualisiert
    <footer>
      <cite>20.02.2025</cite>
    </footer>
  </blockquote>
</Layout>
