---
import Layout from "../layouts/Layout.astro";
---

<Layout title="">
    <h2>Updates</h2>

    <h3>Bitte überprüft regelmäßig, ob es Updates gibt.</h3>
    <ul>
        <li>
            <strong>19.09.2023 - Planänderungen</strong>
            <p>
                Es gab von der Verwaltung eine überarbeitete Version der Pläne. <br />
                 Bitte ladet die Dateien erneut herunter, löscht die alten Kalender und importiert
                euren Stundenplan erneut. <br />
                 Folgende Änderungen wurden vorgenommen:
                <ul>
                    <li>1. Semester Elektrotechnik Gruppe 1-4</li>
                    <li>1. Semester Informatik Gruppe 1-6</li>
                    <li>1. Semester Mechatronik Gruppe 1-4</li>
                    <li>1. Semester Medieningenieur-/in Gruppe 1-4</li>
                    <li>3. Semester Elektrotechnik alle Vertiefungen</li>
                    <li>3. Semester Wirtschaftsingenieurwesen Kommunikation</li>
                    <li>5. Semester Elektrotechnik Energietechnik</li>
                    <li>
                        5. Semester Wirtschaftsingenieurwesen Nachhaltige Energiesysteme alle
                        Gruppen
                    </li>
                    <li>Alle Dozentenpläne</li>
                    <li>Alle Bachelor Wahlmodule Informatik</li>
                    <li>Alle Bachelor Wahlmodule Mechatronik</li>
                </ul>
            </p>
        </li>
        <li>
            <strong>10.09.2023 - Anpassung an den iCalender-Spec</strong>
            <p>
                Die Dateien wurden angepasst um den iCalender-Anforderungen zu entsprechen.
                Validiert wurde dies mit dem <a href="https://icalendar.org/validator.html"
                    >iCalendar-Validator</a
                >. Falls es Probleme mit dem importieren in den eigenen Kalender gab, sollte diese
                nun behoben sein. <br />
                 Es ist kein erneuter Import notwendig, wenn dieser bereits erfolgreich war.
            </p>
        </li>
        <li>
            <strong>06.09.2023 - inhaltlicher Fehler behoben</strong>
            <p>
                In Dateien die vor Mittwoch dem 06.09.2023 um 22:00 Uhr heruntergeladen wurden, gibt
                es systematische Fehler! <br />
                 Bitte ladet die Dateien erneut herunter, löscht die alten Kalender und importiert
                euren Stundenplan erneut. <br />
                 Bitte löscht vor dem herunterladen des neuen Kalenders euren Browsercache.
            </p>
        </li>
    </ul>

    <h2>Hinweise</h2>
    <p>
        <strong>Es gibt keine Haftung für die Richtigkeit der Pläne!</strong>
    </p>

    <p>
        Bitte prüft den Plan vor der Nutzung auf Richtigkeit. Nutzt hierzu bitte die
        <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.fh-kiel.de/fachbereiche/informatik-und-elektrotechnik/studiengaenge/uebergreifende-informationen/infos-fuer-studierende/veranstaltungen-sommersemester/"
            >offiziellen Pläne</a
        >
         der FH Kiel. Bei gefundenen Fehlern gebt mir bitte per Mail (<a
            href="mailto:jon.haase@student.fh-kiel.de">jon.haase@student.fh-kiel.de</a
        >) Bescheid.
    </p>

    <p>
        Den Quellcode findet ihr auf
        <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/sleepsleeprepeat/fh-kalender">Github</a
        >. Bitte beachtet, dass ich kein Informatiker bin und der Code daher nicht schön ist oder
        irgendwelchen Richtlinien folgt. Für Tipps und Verbessungsvorschläge bin ich dankbar.
    </p>
</Layout>
