---
import Layout from "../layouts/Layout.astro";
import Status from "../components/Status.astro";
---

<Layout title="">
  <!-- <h2>Aktuelle Informationen</h2> -->
  <!-- <blockquote>
        Die Pläne für den Fachbereich Informatik und Elektrotechnik werden am
        26.02.2024 veröffentlicht da noch Änderungen vorgenommen werden.
    </blockquote> -->

  <h2>Status</h2>
  <Status
    entries={[
      {
        status: "green",
        department: "Informatik und Elektrotechnik",
        notes: "Letzte Aktualisierung: 29.08.2024",
      },
      {
        status: "red",
        department: "Wirtschaft und Recht",
        notes: "Keine Veröffenlichung in diesem Semester",
      },
      {
        status: "red",
        department: "Medien & Bauingenieurwesen",
        notes: "Keine Veröffenlichung in diesem Semester",
      },
      {
        status: "red",
        department: "Maschienenbau",
        notes: "Keine Veröffenlichung in diesem Semester",
      },
      {
        status: "red",
        department: "Soziale Arbeit & Gesundheit",
        notes: "Keine Veröffenlichung in diesem Semester",
      },
    ]}
  />

  <h2>Änderungen</h2>
  <blockquote>
    Alle Dateien wurden aktualisiert
    <footer>
      <cite>29.08.2024</cite>
    </footer>
  </blockquote>
</Layout>
