---
import Layout from "../layouts/Layout.astro";
import Status from "../components/Status.astro";
---

<Layout title="">
  <!-- <h2>Aktuelle Informationen</h2> -->
  <!-- <blockquote>
        Die Pläne für den Fachbereich Informatik und Elektrotechnik werden am
        26.02.2024 veröffentlicht da noch Änderungen vorgenommen werden.
    </blockquote> -->

  <h2>Status</h2>
  <Status
    entries={[
      {
        status: "green",
        department: "Informatik und Elektrotechnik",
        notes: "Letzte Aktualisierung: 29.08.2024",
      },
      {
        status: "red",
        department: "Wirtschaft und Recht",
        notes: "Keine Veröffenlichung in diesem Semester",
      },
      {
        status: "red",
        department: "Medien & Bauingenieurwesen",
        notes: "Keine Veröffenlichung in diesem Semester",
      },
      {
        status: "red",
        department: "Maschienenbau",
        notes: "Keine Veröffenlichung in diesem Semester",
      },
      {
        status: "red",
        department: "Soziale Arbeit & Gesundheit",
        notes: "Keine Veröffenlichung in diesem Semester",
      },
    ]}
  />

  <h2>Änderungen</h2>

  <blockquote>
    Folgende Dateien wurden aktualisiert
    <ul>
      <li>IuE Mastermodule Energietechnik</li>
      <li>Alle Dozentenpläne</li>
    </ul>
    <footer>
      <cite>23.09.2024</cite>
    </footer>
  </blockquote>

  <blockquote>
    Folgende Dateien wurden aktualisiert
    <ul>
      <li>IuE 1. Semester Mechatronik Gruppe 1-3</li>
      <li>
        IuE 1. Semester Wirtschaftsingenieurwesen-Elektrotechnik Gruppe 1-3
      </li>
      <li>IuE 1. Semester Mechatronik Gruppe 1-3</li>
      <li>IuE Wahlmodule Kommunikationstechnik Teil 1-2</li>
    </ul>
    <footer>
      <cite>18.09.2024</cite>
    </footer>
  </blockquote>

  <blockquote>
    Folgende Dateien wurden aktualisiert
    <ul>
      <li>IuE 5. Semester Mechatronik Gruppe 1-2</li>
      <li>IuE Lehrende Prof. Weber</li>
    </ul>
    <footer>
      <cite>13.09.2024</cite>
    </footer>
  </blockquote>

  <blockquote>
    Folgende Dateien wurden aktualisiert
    <ul>
      <li>
        IuE 1. Semester Wirtschaftsingenieurwesen-Elektrotechnik Gruppe 1-3
      </li>
      <li>IuE 3. Semester Elektrotechnik Energietechnik Gruppe 1-2</li>
      <li>IuE 3. Semester Elektrotechnik Informationstechnik</li>
      <li>
        IuE 3. Semester Wirtschaftsingenieurwesen-Elektrotechnik NE Gruppe 1-2
      </li>
      <li>IuE 5. Semester Elektrotechnik Technische Informatik</li>
      <li>IuE 5. Semester Informatik Anwedungsentwicklung Gruppe 1-2</li>
      <li>IuE Wahlmodule Energietechnik Teil 1 -3</li>
      <li>IuE Wahlmodule Informatik Teil 1 -3</li>
      <li>IuE Wahlmodule Kommunikation Teil 1 -2</li>
      <li>IuE Wahlmodule Mechatronik Teil 1 -3</li>
      <li>IuE Lehrende C. Brauer, C. Kopka, Prof. Manske</li>
    </ul>
    <footer>
      <cite>11.09.2024</cite>
    </footer>
  </blockquote>

  <blockquote>
    Alle Dateien wurden aktualisiert
    <footer>
      <cite>29.08.2024</cite>
    </footer>
  </blockquote>
</Layout>
