---
import Layout from "../layouts/Layout.astro";
import Status from "../components/Status.astro";
---

<Layout title="">
  <!-- <h2>Aktuelle Informationen</h2> -->
  <!-- <blockquote>
        Die Pläne für den Fachbereich Informatik und Elektrotechnik werden am
        26.02.2024 veröffentlicht da noch Änderungen vorgenommen werden.
    </blockquote> -->

  <h2>Status zu den Fachbereichen</h2>
  <Status
    entries={[
      {
        status: "yellow",
        department: "Informatik und Elektrotechnik",
        notes: "Alle Pläne sind veröffentlicht",
      },
      {
        status: "red",
        department: "Wirtschaft und Recht",
        notes: "Keine Veröffenlichung in diesem Semester",
      },
      {
        status: "red",
        department: "Medien & Bauingenieurwesen",
        notes: "Keine Veröffenlichung in diesem Semester",
      },
      {
        status: "red",
        department: "Maschienenbau",
        notes: "Keine Veröffenlichung in diesem Semester",
      },
      {
        status: "red",
        department: "Soziale Arbeit & Gesundheit",
        notes: "Keine Veröffenlichung in diesem Semester",
      },
    ]}
  />

  <h2>Änderungen</h2>

  <blockquote>
    Alle studentischen Semesterpläne für IuE wurden veröffentlicht, ausgenommen: 
      MCS - Compulsory Elective Modules Focus: Computer Science for Media
      MCS - Compulsory Elective Modules Focus: Computer Science for Artificial Intelligence
    <footer>
      <cite>22.02.2025</cite>
    </footer>
  </blockquote>

  <blockquote>
    Die Dateien der Dozenten für IuE wurden aktualisiert, da alles um eine Woche verschoben war.
    <footer>
      <cite>22.02.2025</cite>
    </footer>
  </blockquote>

  <blockquote>
    Die Dateien der Dozenten für IuE wurden aktualisiert
    <footer>
      <cite>20.02.2025</cite>
    </footer>
  </blockquote>
</Layout>
