---
import Layout from "../layouts/Layout.astro";
import Status from "../components/Status.astro";
---

<Layout title="">
  <h2>Status zu den Fachbereichen</h2>
  <Status
    entries={[
      {
        status: "green",
        department: "Informatik und Elektrotechnik",
        notes: "Alle Pläne sind veröffentlicht",
      },
      {
        status: "red",
        department: "Wirtschaft und Recht",
        notes: "Keine Veröffenlichung in diesem Semester",
      },
      {
        status: "red",
        department: "Medien & Bauingenieurwesen",
        notes: "Keine Veröffenlichung in diesem Semester",
      },
      {
        status: "red",
        department: "Maschienenbau",
        notes: "Keine Veröffenlichung in diesem Semester",
      },
      {
        status: "red",
        department: "Soziale Arbeit & Gesundheit",
        notes: "Keine Veröffenlichung in diesem Semester",
      },
    ]}
  />

  <h2>Änderungen</h2>

  <blockquote>
    Alle Pläne wurden veröffentlicht
    <footer>
      <cite>29.08.2025</cite>
    </footer>
  </blockquote>
</Layout>
