---
import Layout from "../layouts/Layout.astro";
import Status from "../components/Status.astro";
---

<Layout title="">
  <h2>Status zu den Fachbereichen</h2>
  <Status
    entries={[
      {
        status: "green",
        department: "Informatik und Elektrotechnik",
        notes: "Alle Pläne sind veröffentlicht",
      },
      {
        status: "red",
        department: "Wirtschaft und Recht",
        notes: "Keine Veröffenlichung in diesem Semester",
      },
      {
        status: "red",
        department: "Medien & Bauingenieurwesen",
        notes: "Keine Veröffenlichung in diesem Semester",
      },
      {
        status: "red",
        department: "Maschienenbau",
        notes: "Keine Veröffenlichung in diesem Semester",
      },
      {
        status: "red",
        department: "Soziale Arbeit & Gesundheit",
        notes: "Keine Veröffenlichung in diesem Semester",
      },
    ]}
  />

  <h2>Änderungen</h2>

  <blockquote>
    Folgende pläne wurden geändert:
    <ul>
      <li>1. Semester Elektrotechnik Gruppe 1</li>
      <li>1. Semester Elektrotechnik Gruppe 2</li>
      <li>1. Semester Elektrotechnik Gruppe 3</li>
      <li>1. Semester Elektrotechnik Gruppe 4</li>
      <li>1. Semester Informatik Gruppe 1</li>
      <li>1. Semester Informatik Gruppe 3</li>
      <li>1. Semester Informatik Gruppe 5</li>
      <li>3. Semester "Wirtschaftsingenieurwesen-Elektrotechnik Nachhaltige Energiesysteme Gruppe 1</li>
      <li>3. Semester "Wirtschaftsingenieurwesen-Elektrotechnik Nachhaltige Energiesysteme Gruppe 2</li>
      <li>Wahlmodule Energietechnik Teil 1</li>
      <li>Wahlmodule Energietechnik Teil 2</li>
      <li>Alle Dozentenpläne</li>
    </ul>
    <footer>
      <cite>29.09.2025</cite>
    </footer>
  </blockquote>

  <blockquote>
    Folgende pläne wurden geändert:
    <ul>
      <li>1. Semester Medieningenieur/-in Gruppe 1</li>
      <li>1. Semester Medieningenieur/-in Gruppe 2</li>
      <li>1. Semester Medieningenieur/-in Gruppe 3</li>
      <li>3. Semester Informatik Anwendungsentwicklung Gruppe 1</li>
      <li>3. Semester Informatik Anwendungsentwicklung Gruppe 2</li>
      <li>3. Semester Informatik Anwendungsentwicklung Gruppe 3</li>
      <li>3. Semester Medieningenieur/-in Gruppe 1</li>
      <li>3. Semester Medieningenieur/-in Gruppe 2</li>
      <li>3. Semester Medieningenieur/-in Gruppe 4</li>
      <li>5. Semester Elektrotechnik Energietechnik Gruppe 3</li>
      <li>5. Semester Informatik Anwendungsentwicklung Gruppe 1</li>
      <li>5. Semester Informatik Anwendungsentwicklung Gruppe 2</li>
      <li>5. Semester Mechatronik Gruppe 1</li>
      <li>Master Elektrische Technologien Wahlmodule Kommunikationstechnik</li>
      <li>Master Computer Science Wahlmodule Teil 1</li>
      <li>Master Computer Science Wahlmodule Teil 2</li>
      <li>Wahlmodule Informatik Teil 1</li>
      <li>Wahlmodule Informatik Teil 2</li>
      <li>Wahlmodule Informatik Teil 3</li>
      <li>Wahlmodule Informatik Teil 4</li>
      <li>Wahlmodule Informationstechnik Teil 1</li>
      <li>Wahlmodule Informationstechnik Teil 2</li>
      <li>Wahlmodule Interdisziplinäre Lehre</li>
      <li>Alle Dozentenpläne</li>
    </ul>
    <footer>
      <cite>21.09.2025</cite>
    </footer>
  </blockquote>
  

  <blockquote>
    Alle Pläne wurden veröffentlicht
    <footer>
      <cite>29.08.2025</cite>
    </footer>
  </blockquote>
</Layout>
