---
import Layout from "../layouts/Layout.astro";
import Status from "../components/Status.astro";
---

<Layout title="">
    <h2>Aktuelle Informationen</h2>
    <blockquote>
        Die Pläne für den Fachbereich Informatik und Elektrotechnik werden am
        26.02.2024 veröffentlicht da noch Änderungen vorgenommen werden.
    </blockquote>

    <h2>Status</h2>
    <Status
        entries={[
            {
                status: "yellow",
                department: "Informatik und Elektrotechnik",
                notes: "Veröffentlichung am 26.02.2024",
            },
            {
                status: "yellow",
                department: "Wirtschaft und Recht",
                notes: "Veröffentlichung vorraussichtlich zwischen 26.02.2024 und 01.03.2024",
            },
            {
                status: "orange",
                department: "Medien & Bauingenieurwesen",
                notes: "Veröffentlichungsdatum derzeit noch unbekannt",
            },
            {
                status: "red",
                department: "Maschienenbau",
                notes: "Keine Veröffenlichung in diesem Semester",
            },
            {
                status: "red",
                department: "Soziale Arbeit & Gesundheit",
                notes: "Keine Veröffenlichung in diesem Semester",
            },
        ]}
    />
</Layout>
