---
import Layout from "../layouts/Layout.astro";
---

<Layout title="">
    <h2>
        Die Kalender zu dem kommenden Semester werdern morgen (23.02.2024)
        veröffentlicht.
    </h2>

    <h3 style="color:rgb(203, 26, 26)">
        Es gibt keine Haftung für die Richtigkeit der Pläne!
    </h3>

    <h3>Bitte überprüft regelmäßig, ob es Änderungen gibt.</h3>

    <p>
        Bitte prüft den Plan vor der Nutzung auf Richtigkeit. Nutzt hierzu bitte
        die
        <a
            target="
        _blank"
            rel="noopener noreferrer"
            href="https://www.fh-kiel.de/fachbereiche/informatik-und-elektrotechnik/studiengaenge/uebergreifende-informationen/infos-fuer-studierende/veranstaltungen-sommersemester/"
        >
            offiziellen Pläne
        </a>
        der FH Kiel. Bei gefundenen Fehlern gebt mir bitte per Mail (<a
            href="mailto:jon.haase@student.fh-kiel.de"
            >jon.haase@student.fh-kiel.de</a
        >) Bescheid.
    </p>
</Layout>
