---
import Layout from "../layouts/Layout.astro";
import Accordeon from "../components/Accordeon.astro";
import Disclaimer from "../components/Disclaimer.astro";
---

<Layout title="Informatik und Elektrotechnik">
    <Disclaimer />

    <!-- <h2>2. Semester</h2>
    <Accordeon
        title="Elektrotechnik"
        updateDate="22.02.2024"
        items={[
            {
                label: "Elektrotechnik Gruppe 1",
                url: "./studenten/elektrtechnik_gruppe_1.ics",
            },
            {
                label: "Elektrotechnik Gruppe 2",
                url: "./studenten/elektrtechnik_gruppe_2.ics",
            },
            {
                label: "Elektrotechnik Gruppe 3",
                url: "./studenten/elektrtechnik_gruppe_3.ics",
            },
            {
                label: "Elektrotechnik Gruppe 4",
                url: "./studenten/elektrtechnik_gruppe_4.ics",
            },
        ]}
    /> -->
</Layout>
