---
import Layout from "../layouts/Layout.astro";
import Accordeon from "../components/Accordeon.astro";
import Disclaimer from "../components/Disclaimer.astro";
---

<Layout title="Informatik und Elektrotechnik">
  <Disclaimer />

 
  <h2>2. Semester</h2>
  <Accordeon
    title="Elektrotechnik"
    updateDate="18.02.2026"
    items={[
      {
        label: "Elektrotechnik Gruppe 1",
        url: "/files/iue/SoSe_26/semester_2/Elektrotechnik_2_Sem_Gruppe_1.ics",
      },
      {
        label: "Elektrotechnik Gruppe 2",
        url: "/files/iue/SoSe_26/semester_2/Elektrotechnik_2_Sem_Gruppe_2.ics",
      },
      {
        label: "Elektrotechnik Gruppe 3",
        url: "/files/iue/SoSe_26/semester_2/Elektrotechnik_2_Sem_Gruppe_3.ics",
      },
      {
        label: "Elektrotechnik Gruppe 4",
        url: "/files/iue/SoSe_26/semester_2/Elektrotechnik_2_Sem_Gruppe_4.ics",
      },
    ]}
  />
  <Accordeon
    title="Informatik"
    updateDate="18.02.2026"
    items={[
      {
        label: "Informatik Gruppe 1",
        url: "/files/iue/SoSe_26/semester_2/Informatik_2_Sem_Gruppe_1.ics",
      },
      {
        label: "Informatik Gruppe 2",
        url: "/files/iue/SoSe_26/semester_2/Informatik_2_Sem_Gruppe_2.ics",
      },
      {
        label: "Informatik Gruppe 3",
        url: "/files/iue/SoSe_26/semester_2/Informatik_2_Sem_Gruppe_3.ics",
      },
      {
        label: "Informatik Gruppe 4",
        url: "/files/iue/SoSe_26/semester_2/Informatik_2_Sem_Gruppe_4.ics",
      },
      {
        label: "Informatik Gruppe 5",
        url: "/files/iue/SoSe_26/semester_2/Informatik_2_Sem_Gruppe_5.ics",
      },
    ]}
  />
  <Accordeon
    title="Mechatronik"
    updateDate="18.02.2026"
    items={[
      {
        label: "Mechatronik Gruppe 1",
        url: "/files/iue/SoSe_26/semester_2/Mechatronik_2_Sem_Gruppe_1.ics",
      },
      {
        label: "Mechatronik Gruppe 2",
        url: "/files/iue/SoSe_26/semester_2/Mechatronik_2_Sem_Gruppe_2.ics",
      },
      {
        label: "Mechatronik Gruppe 3",
        url: "/files/iue/SoSe_26/semester_2/Mechatronik_2_Sem_Gruppe_3.ics",
      },
    ]}
  />
  <Accordeon
    title="Medieningenieur/-in"
    updateDate="18.02.2026"
    items={[
      {
        label: "Medieningenieur/-in Gruppe 1",
        url: "/files/iue/SoSe_26/semester_2/Medieningenieur_2_Sem_Gruppe_1.ics",
      },
      {
        label: "Medieningenieur/-in Gruppe 2",
        url: "/files/iue/SoSe_26/semester_2/Medieningenieur_2_Sem_Gruppe_2.ics",
      },
      {
        label: "Medieningenieur/-in Gruppe 3",
        url: "/files/iue/SoSe_26/semester_2/Medieningenieur_2_Sem_Gruppe_3.ics",
      },
    ]}
  />
  <Accordeon
    title="Wirtschaftsingenieurwesen-Elektrotechnik"
    updateDate="18.02.2026"
    items={[
      {
        label:
          "Wirtschaftsingenieurwesen-Elektrotechnik INF Gruppe 1",
        url: "/files/iue/SoSe_26/semester_2/Wirtschaftsingenieurwesen_ET_2_Sem_INF_Gr_1.ics",
      },
      {
        label:
          "Wirtschaftsingenieurwesen-Elektrotechnik NE Gruppe 1",
        url: "/files/iue/SoSe_26/semester_2/Wirtschaftsingenieurwesen_ET_2_Sem_NE_Gr_1.ics",
      },
      {
        label:
          "Wirtschaftsingenieurwesen-Elektrotechnik NE Gruppe 2",
        url: "/files/iue/SoSe_26/semester_2/Wirtschaftsingenieurwesen_ET_2_Sem_NE_Gr_2.ics",
      },
    ]}
  />

  <h2>4. Semester</h2>
  <Accordeon
    title="Elektrotechnik"
    updateDate="18.02.2026"
    items={[
      {
        label: "Elektrotechnik Energietechnik Gruppe 1",
        url: "/files/iue/SoSe_26/semester_4/Elektrotechnik_Energietechnik_4_Sem_Gr_1.ics",
      },
      {
        label: "Elektrotechnik Energietechnik Gruppe 2",
        url: "/files/iue/SoSe_26/semester_4/Elektrotechnik_Energietechnik_4_Sem_Gr_2.ics",
      },
      {
        label: "Elektrotechnik Informationstechnik Gruppe 1",
        url: "/files/iue/SoSe_26/semester_4/Elektrotechnik_Informationstechnik_4_Sem.ics",
      },
      {
        label: "Elektrotechnik Informationstechnik Gruppe 2",
        url: "/files/iue/SoSe_26/semester_4/Elektrotechnik_Informationstechnik_4_Sem_Gr_2.ics",
      },
    ]}
  />
  <Accordeon
    title="Informatik"
    updateDate="18.02.2026"
    items={[
      {
        label: "Informatik Anwedungsentwicklung Gruppe 1",
        url: "/files/iue/SoSe_26/semester_4/Informatik_4_Sem_AE_Gr_1.ics",
      },
      {
        label: "Informatik Anwedungsentwicklung Gruppe 2",
        url: "/files/iue/SoSe_26/semester_4/Informatik_4_Sem_AE_Gr_2.ics",
      },
      {
        label: "Informatik Anwedungsentwicklung Gruppe 3",
        url: "/files/iue/SoSe_26/semester_4/Informatik_4_Sem_AE_Gr_3.ics",
      },
      {
        label: "Informatik Künstliche Intelligenz Gruppe 1",
        url: "/files/iue/SoSe_26/semester_4/Informatik_4_Sem_KI_Gr_1.ics",
      },
      {
        label: "Informatik Künstliche Intelligenz Gruppe 2",
        url: "/files/iue/SoSe_26/semester_4/Informatik_4_Sem_KI_Gr_2.ics",
      },
      {
        label: "Informatik Künstliche Intelligenz Gruppe 3",
        url: "/files/iue/SoSe_26/semester_4/Informatik_4_Sem_KI_Gr_3.ics",
      },
    ]}
  />
  <Accordeon
    title="Mechatronik"
    updateDate="18.02.2026"
    items={[
      {
        label: "Mechatronik Gruppe 1",
        url: "/files/iue/SoSe_26/semester_4/Mechatronik_4_Sem_Gruppe_1.ics",
      },
      {
        label: "Mechatronik Gruppe 2",
        url: "/files/iue/SoSe_26/semester_4/Mechatronik_4_Sem_Gruppe_2.ics",
      },
      {
        label: "Mechatronik Gruppe 3",
        url: "/files/iue/SoSe_26/semester_4/Mechatronik_4_Sem_Gruppe_3.ics",
      },
    ]}
  />
  <Accordeon
    title="Medieningenieur/-in"
    updateDate="18.02.2026"
    items={[
      {
        label: "Medieningenieur/-in Gruppe 1",
        url: "/files/iue/SoSe_26/semester_4/Medieningenieur_4_Sem_Gruppe_1.ics",
      },
      {
        label: "Medieningenieur/-in Gruppe 2",
        url: "/files/iue/SoSe_26/semester_4/Medieningenieur_4_Sem_Gruppe_2.ics",
      },
      {
        label: "Medieningenieur/-in Gruppe 3",
        url: "/files/iue/SoSe_26/semester_4/Medieningenieur_4_Sem_Gruppe_3.ics",
      },
    ]}
  />
  <Accordeon
    title="Wirtschaftsingenieurwesen-Elektrotechnik"
    updateDate="18.02.2026"
    items={[
      {
        label: "Wirtschaftsingenieurwesen-Elektrotechnik Informationstechnik",
        url: "/files/iue/SoSe_26/semester_4/Wirtschaftsingenieurwesen_Elektrotechnik_4_Sem_Gr_1_IT.ics",
      },
      {
        label:
          "Wirtschaftsingenieurwesen-Elektrotechnik Nachhaltige Energiesysteme Gruppe 1",
        url: "/files/iue/SoSe_26/semester_4/Wirtschaftsingenieurwesen_Elektrotechnik_4_Sem_Gr_1_NE.ics",
      },
      {
        label:
          "Wirtschaftsingenieurwesen-Elektrotechnik Nachhaltige Energiesysteme Gruppe 2",
        url: "/files/iue/SoSe_26/semester_4/Wirtschaftsingenieurwesen_Elektrotechnik_4_Sem_Gr_2_NE.ics",
      },
    ]}
  />

  <h2>6. Semester</h2>
  <Accordeon
    title="Informatik"
    updateDate="18.02.2026"
    items={[
      {
        label: "Informatik Gruppe 1",
        url: "/files/iue/SoSe_26/semester_6/Informatik_6_Sem_Gruppe_1.ics",
      },
      {
        label: "Informatik Gruppe 2",
        url: "/files/iue/SoSe_26/semester_6/Informatik_6_Sem_Gruppe_2.ics",
      },
      {
        label: "Informatik Gruppe 3",
        url: "/files/iue/SoSe_26/semester_6/Informatik_6_Sem_Gruppe_3.ics",
      },
      {
        label: "Informatik Gruppe 4",
        url: "/files/iue/SoSe_26/semester_6/Informatik_6_Sem_Gruppe_4.ics",
      },
      {
        label: "Informatik Gruppe 5",
        url: "/files/iue/SoSe_26/semester_6/Informatik_6_Sem_Gruppe_5.ics",

      },
    ]}
  />
  <Accordeon
    title="Medieningenieur/-in"
    updateDate="18.02.2026"
    items={[
      {
        label: "Medieningenieur/-in",
        url: "/files/iue/SoSe_26/semester_6/Medieningenieur_6_Sem.ics",
      },
    ]}
  />

  <h2>Wahlmodule</h2>
  <Accordeon
    title="Wahlmodule Energietechik"
    updateDate="18.02.2026"
    items={[
      {
        label: "Wahlmodule Energietechnik Teil 1",
        url: "/files/iue/SoSe_26/wahlmodule/Wahlmodule_Vertiefung_Energietechnik_Teil_1.ics",
      },
      {
        label: "Wahlmodule Energietechnik Teil 2",
        url: "/files/iue/SoSe_26/wahlmodule/Wahlmodule_Vertiefung_Energietechnik_Teil_2.ics",
      },
      {
        label: "Wahlmodule  Energietechnik Teil 3",
        url: "/files/iue/SoSe_26/wahlmodule/Wahlmodule_Vertiefung_Energietechnik_Teil_3.ics",
      },
    ]}
  />
  <Accordeon
    title="Wahlmodule Informatik"
    updateDate="18.02.2026"
    items={[
      {
        label: "Wahlmodule Informatik Teil 1",
        url: "/files/iue/SoSe_26/wahlmodule/Wahlmodule_Vertiefung_Informatik_Teil_1.ics",
      },
      {
        label: "Wahlmodule Informatik Teil 2",
        url: "/files/iue/SoSe_26/wahlmodule/Wahlmodule_Vertiefung_Informatik_Teil_2.ics",
      },
      {
        label: "Wahlmodule Informatik Teil 3",
        url: "/files/iue/SoSe_26/wahlmodule/Wahlmodule_Vertiefung_Informatik_Teil_3.ics",
      },
    ]}
  />
  <Accordeon
    updateDate="18.02.2026"
    title="Wahlmodule Informationstechnik"
    items={[
      {
        label: "Wahlmodule Informationstechnik Teil 1",
        url: "/files/iue/SoSe_26/wahlmodule/Wahlmodule_Vertiefung_Informationstechnik_Teil_1.ics",
      },
      {
        label: "Wahlmodule Informationstechnik Teil 2",
        url: "/files/iue/SoSe_26/wahlmodule/Wahlmodule_Vertiefung_Informationstechnik_Teil_2.ics",
      },
    ]}
  />
  <Accordeon
    title="Wahlmodule Mechatronik"
    updateDate="18.02.2026"
    items={[
      {
        label: "Wahlmodule Mechatronik Teil 1",
        url: "/files/iue/SoSe_26/wahlmodule/Wahlmodule_Vertiefung_Mechatronik_Teil_1.ics",
      },
      {
        label: "Wahlmodule Mechatronik Teil 2",
        url: "/files/iue/SoSe_26/wahlmodule/Wahlmodule_Vertiefung_Mechatronik_Teil_2.ics",
      },
      {
        label: "Wahlmodule Mechatronik Teil 3",
        url: "/files/iue/SoSe_26/wahlmodule/Wahlmodule_Vertiefung_Mechatronik_Teil_3.ics",
      }
    ]}
  />
  <Accordeon
    title="Wahlmodule Medieningenieur/-in"
    updateDate="18.02.2026"
    items={[
      {
        label: "Wahlmodule Medieningenieur/-in Teil 1",
        url: "/files/iue/SoSe_26/wahlmodule/Wahlmodule_Vertiefung_Medieningenieur_Teil_1.ics",
      },
      {
        label: "Wahlmodule Medieningenieur/-in Teil 2",
        url: "/files/iue/SoSe_26/wahlmodule/Wahlmodule_Vertiefung_Medieningenieur_Teil_2.ics",
      },
    ]}
  />
  <Accordeon
    title="Wahlmodule aus dem Fachbereich Maschinenwesen"
    updateDate="18.02.2026"
    items={[
      {
        label: "Interdiszipläre Wahlmodule Teil 1",
        url: "/files/iue/SoSe_26/wahlmodule/Wahlmodule_aus_dem_FB_Maschinenwesen.ics",
      },
    ]}
  />
  <Accordeon
    title="Interdiszipläre Wahlmodule"
    updateDate="18.02.2026"
    items={[
      {
        label: "Interdiszipläre Wahlmodule",
        url: "/files/iue/SoSe_26/wahlmodule/Interdisziplinäre_Wahlmodule_Teil_1.ics",
      },
      {
        label: "Interdiszipläre Wahlmodule Wochenendseminare",
        url: "/files/iue/SoSe_26/wahlmodule/Interdisziplinäre_Wahlmodule_Wochenendseminare_1.ics",
      },
    ]}
  />

  <h2>Mastermodule</h2>
  <Accordeon
    title="Master Elektrische Technologien Pflichtmodule"
    updateDate="18.02.2026"
    items={[
      {
        label: "Master Elektrische Technologien Pflichtmodule Vertiefung Energietechnik",
        url: "/files/iue/SoSe_26/master/Master_ET_Pflichtmodule_Vertiefung_Energietechnik.ics",
      },
      {
        label: "Master Elektrische Technologien Pflichtmodule Vertiefung Informations- oder Kommunikationstechnik",
        url: "/files/iue/SoSe_26/master/Master_ET_Pflichtmodule_Vertiefung_Informations_oder_Kommunikationstech.ics",
      },
      {
        label: "Master Elektrische Technologien Pflichtmodule Vertiefung Mechatronik",
        url: "/files/iue/SoSe_26/master/Master_ET_Pflichtmodule_Vertiefung_Mechatronik.ics",
      },
    ]}
  />
  <Accordeon
    title="Master Elektrische Technologien Wahlmodule"
    updateDate="18.02.2026"
    items={[
      {
        label: "Mastermodule Elektrische Technologien Energietechnik",
        url: "/files/iue/SoSe_26/master/Mastermodule_Energietechnik.ics",
      },
      {
        label: "Mastermodule Elektrische Technologien Informations- oder Kommunikationstechnik",
        url: "/files/iue/SoSe_26/master/Mastermodule_Informationstechnik_Kommunikationstechnik.ics",
      },
      {
        label: "Mastermodule Elektrische Technologien Mechatronik",
        url: "/files/iue/SoSe_26/master/Mastermodule_Mechatronik.ics",
      },
    ]}
  />
  <Accordeon
    title="Master Computer Science / Master Information Engineering"
    updateDate="18.02.2026"
    items={[
      {
        label:
          "Master Computer Science / Master Information Engineering Compulsory Courses Part 1",
        url: "/files/iue/SoSe_26/master/Master_CS_Master_IE_Compulsory_Course_Part_1.ics",
      },
      {
        label:
          "Master Computer Science / Master Information Engineering Compulsory Courses Part 2",
        url: "/files/iue/SoSe_26/master/Master_CS_Master_IE_Compulsory_Course_Part_2.ics",
      },
      {
        label:
          "Master Computer Science / Master Information Engineering Compulsory Courses Part 3",
        url: "/files/iue/SoSe_26/master/Master_CS_Master_IE_Compulsory_Course_Part_3.ics",
      },
      {
        label:
          "Master Computer Science / Master Information Engineering Elective Courses Part 1",
        url: "/files/iue/SoSe_26/master/Master_CS_Master_IE_Elective_modules_1.ics",
      },
      {
        label:
          "Master Computer Science / Master Information Engineering Elective Courses Part 2",
        url: "/files/iue/SoSe_26/master/Master_CS_Master_IE_Elective_modules_2.ics",
      },
    ]}
  />

  <h2>Dozenten</h2>
  <Accordeon
    title="Alle Lehrenden"
    updateDate="18.02.2026"
    items={[
      {label: "A. Falckenhain", url: "/files/iue/SoSe_26/dozenten/A_Falckenhain.ics"},
      {label: "A. Gavrilov", url: "/files/iue/SoSe_26/dozenten/A_Gavrilov.ics"},
      {label: "A. Kielmann", url: "/files/iue/SoSe_26/dozenten/A_Kielmann.ics"},
      {label: "A. Kinny", url: "/files/iue/SoSe_26/dozenten/A_Kinny.ics"},
      {label: "A. Neumann", url: "/files/iue/SoSe_26/dozenten/A_Neumann.ics"},
      {label: "C. Brauer", url: "/files/iue/SoSe_26/dozenten/C_Brauer.ics"},
      {label: "C. D. Piontke", url: "/files/iue/SoSe_26/dozenten/C_D_Piontke.ics"},
      {label: "C. Glüsing", url: "/files/iue/SoSe_26/dozenten/C_Glüsing.ics"},
      {label: "C. Kopka", url: "/files/iue/SoSe_26/dozenten/C_Kopka.ics"},
      {label: "C. Schwatlo", url: "/files/iue/SoSe_26/dozenten/C_Schwatlo.ics"},
      {label: "C. Wilsch", url: "/files/iue/SoSe_26/dozenten/C_Wilsch.ics"},
      {label: "Dr. Mohs", url: "/files/iue/SoSe_26/dozenten/Dr_Mohs.ics"},
      {label: "E. Moritz", url: "/files/iue/SoSe_26/dozenten/E_Moritz.ics"},
      {label: "E. Petersen", url: "/files/iue/SoSe_26/dozenten/E_Petersen.ics"},
      {label: "F. Caspar", url: "/files/iue/SoSe_26/dozenten/F_Caspar.ics"},
      {label: "G. S. Gesell", url: "/files/iue/SoSe_26/dozenten/G_S_Gesell.ics"},
      {label: "G. Werner", url: "/files/iue/SoSe_26/dozenten/G_Werner.ics"},
      {label: "H. Folkerts", url: "/files/iue/SoSe_26/dozenten/H_Folkerts.ics"},
      {label: "H. Mücke", url: "/files/iue/SoSe_26/dozenten/H_Mücke.ics"},
      {label: "H. Oenings", url: "/files/iue/SoSe_26/dozenten/H_Oenings.ics"},
      {label: "J. Angres", url: "/files/iue/SoSe_26/dozenten/J_Angres.ics"},
      {label: "J. Dittmann", url: "/files/iue/SoSe_26/dozenten/J_Dittmann.ics"},
      {label: "J. Haase", url: "/files/iue/SoSe_26/dozenten/J_Haase.ics"},
      {label: "J. Hoffmüller", url: "/files/iue/SoSe_26/dozenten/J_Hoffmüller.ics"},
      {label: "J. Jürgens", url: "/files/iue/SoSe_26/dozenten/J_Jürgens.ics"},
      {label: "J. Kohlmorgen", url: "/files/iue/SoSe_26/dozenten/J_Kohlmorgen.ics"},
      {label: "J. Nowitzki", url: "/files/iue/SoSe_26/dozenten/J_Nowitzki.ics"},
      {label: "J. Rähse", url: "/files/iue/SoSe_26/dozenten/J_Rähse.ics"},
      {label: "J. Schiwy", url: "/files/iue/SoSe_26/dozenten/J_Schiwy.ics"},
      {label: "J. Schlüter", url: "/files/iue/SoSe_26/dozenten/J_Schlüter.ics"},
      {label: "K. Hartmann", url: "/files/iue/SoSe_26/dozenten/K_Hartmann.ics"},
      {label: "K. Hinkelmann", url: "/files/iue/SoSe_26/dozenten/K_Hinkelmann.ics"},
      {label: "L. Hannes", url: "/files/iue/SoSe_26/dozenten/L_Hannes.ics"},
      {label: "L. Jorswieck", url: "/files/iue/SoSe_26/dozenten/L_Jorswieck.ics"},
      {label: "M. Ali. Algbara", url: "/files/iue/SoSe_26/dozenten/M_Ali_Algbara.ics"},
      {label: "M. Ignatov", url: "/files/iue/SoSe_26/dozenten/M_Ignatov.ics"},
      {label: "M. Menzel", url: "/files/iue/SoSe_26/dozenten/M_Menzel.ics"},
      {label: "M. Riedel", url: "/files/iue/SoSe_26/dozenten/M_Riedel.ics"},
      {label: "M. Robinius", url: "/files/iue/SoSe_26/dozenten/M_Robinius.ics"},
      {label: "M. Sieloff", url: "/files/iue/SoSe_26/dozenten/M_Sieloff.ics"},
      {label: "M. Teichmann", url: "/files/iue/SoSe_26/dozenten/M_Teichmann.ics"},
      {label: "N. Kreutzer", url: "/files/iue/SoSe_26/dozenten/N_Kreutzer.ics"},
      {label: "N. N. RPHYL", url: "/files/iue/SoSe_26/dozenten/N_N_RPHYL.ics"},
      {label: "Prof. Acker", url: "/files/iue/SoSe_26/dozenten/Prof_Acker.ics"},
      {label: "Prof. Aßmuth", url: "/files/iue/SoSe_26/dozenten/Prof_Aßmuth.ics"},
      {label: "Prof. Badri. Höher", url: "/files/iue/SoSe_26/dozenten/Prof_Badri_Höher.ics"},
      {label: "Prof. Behrendt. Bicakci", url: "/files/iue/SoSe_26/dozenten/Prof_Behrendt_Bicakci.ics"},
      {label: "Prof. Brauer", url: "/files/iue/SoSe_26/dozenten/Prof_Brauer.ics"},
      {label: "Prof. Ehlers", url: "/files/iue/SoSe_26/dozenten/Prof_Ehlers.ics"},
      {label: "Prof. Hennig", url: "/files/iue/SoSe_26/dozenten/Prof_Hennig.ics"},
      {label: "Prof. Immel", url: "/files/iue/SoSe_26/dozenten/Prof_Immel.ics"},
      {label: "Prof. Jacobsen", url: "/files/iue/SoSe_26/dozenten/Prof_Jacobsen.ics"},
      {label: "Prof. Jetzek", url: "/files/iue/SoSe_26/dozenten/Prof_Jetzek.ics"},
      {label: "Prof. Kallies", url: "/files/iue/SoSe_26/dozenten/Prof_Kallies.ics"},
      {label: "Prof. Krueger", url: "/files/iue/SoSe_26/dozenten/Prof_Krueger.ics"},
      {label: "Prof. Lebert", url: "/files/iue/SoSe_26/dozenten/Prof_Lebert.ics"},
      {label: "Prof. Luczak", url: "/files/iue/SoSe_26/dozenten/Prof_Luczak.ics"},
      {label: "Prof. Lüssem", url: "/files/iue/SoSe_26/dozenten/Prof_Lüssem.ics"},
      {label: "Prof. Manzke", url: "/files/iue/SoSe_26/dozenten/Prof_Manzke.ics"},
      {label: "Prof. Neumann", url: "/files/iue/SoSe_26/dozenten/Prof_Neumann.ics"},
      {label: "Prof. Osterwald", url: "/files/iue/SoSe_26/dozenten/Prof_Osterwald.ics"},
      {label: "Prof. Patz", url: "/files/iue/SoSe_26/dozenten/Prof_Patz.ics"},
      {label: "Prof. Petersen", url: "/files/iue/SoSe_26/dozenten/Prof_Petersen.ics"},
      {label: "Prof. Prieß", url: "/files/iue/SoSe_26/dozenten/Prof_Prieß.ics"},
      {label: "Prof. Prochnow", url: "/files/iue/SoSe_26/dozenten/Prof_Prochnow.ics"},
      {label: "Prof. Rinder", url: "/files/iue/SoSe_26/dozenten/Prof_Rinder.ics"},
      {label: "Prof. Schmidt. Rethmeier", url: "/files/iue/SoSe_26/dozenten/Prof_Schmidt_Rethmeier.ics"},
      {label: "Prof. Schramm", url: "/files/iue/SoSe_26/dozenten/Prof_Schramm.ics"},
      {label: "Prof. Schümann", url: "/files/iue/SoSe_26/dozenten/Prof_Schümann.ics"},
      {label: "Prof. Weber", url: "/files/iue/SoSe_26/dozenten/Prof_Weber.ics"},
      {label: "Prof. Wehrend", url: "/files/iue/SoSe_26/dozenten/Prof_Wehrend.ics"},
      {label: "Prof. Woelk", url: "/files/iue/SoSe_26/dozenten/Prof_Woelk.ics"},
      {label: "Prof. Wree", url: "/files/iue/SoSe_26/dozenten/Prof_Wree.ics"},
      {label: "P. Farshidfar", url: "/files/iue/SoSe_26/dozenten/P_Farshidfar.ics"},
      {label: "P. Wrobel", url: "/files/iue/SoSe_26/dozenten/P_Wrobel.ics"},
      {label: "R. Hellmund", url: "/files/iue/SoSe_26/dozenten/R_Hellmund.ics"},
      {label: "R. Raßmann", url: "/files/iue/SoSe_26/dozenten/R_Raßmann.ics"},
      {label: "S. Herzog", url: "/files/iue/SoSe_26/dozenten/S_Herzog.ics"},
      {label: "S. Koß", url: "/files/iue/SoSe_26/dozenten/S_Koß.ics"},
      {label: "S. Schmarbeck", url: "/files/iue/SoSe_26/dozenten/S_Schmarbeck.ics"},
      {label: "T. Greve", url: "/files/iue/SoSe_26/dozenten/T_Greve.ics"},
      {label: "T. Rixen", url: "/files/iue/SoSe_26/dozenten/T_Rixen.ics"},
      {label: "Y. Bockholt", url: "/files/iue/SoSe_26/dozenten/Y_Bockholt.ics"},
    ]}
  />
</Layout>
