---
import Layout from "../layouts/Layout.astro";
import Accordeon from "../components/Accordeon.astro";
import Disclaimer from "../components/Disclaimer.astro";
---

<Layout title="Informatik und Elektrotechnik">
  <Disclaimer />

 
  <h2>2. Semester</h2>
  <Accordeon
    title="Elektrotechnik"
    updateDate="22.02.2025"
    items={[
      {
        label: "Elektrotechnik Gruppe 1",
        url: "/files/iue/SoSe_25/semester_2/Elektrotechnik_2_Sem_Gruppe_1.ics",
      },
      {
        label: "Elektrotechnik Gruppe 2",
        url: "/files/iue/SoSe_25/semester_2/Elektrotechnik_2_Sem_Gruppe_2.ics",
      },
      {
        label: "Elektrotechnik Gruppe 3",
        url: "/files/iue/SoSe_25/semester_2/Elektrotechnik_2_Sem_Gruppe_3.ics",
      },
      {
        label: "Elektrotechnik Gruppe 4",
        url: "/files/iue/SoSe_25/semester_2/Elektrotechnik_2_Sem_Gruppe_4.ics",
      },
    ]}
  />
  <Accordeon
    title="Informatik"
    updateDate="25.02.2025"
    items={[
      {
        label: "Informatik Gruppe 1",
        url: "/files/iue/SoSe_25/semester_2/Informatik_2_Sem_Gruppe_1.ics",
      },
      {
        label: "Informatik Gruppe 2",
        url: "/files/iue/SoSe_25/semester_2/Informatik_2_Sem_Gruppe_2.ics",
      },
      {
        label: "Informatik Gruppe 3",
        url: "/files/iue/SoSe_25/semester_2/Informatik_2_Sem_Gruppe_3.ics",
      },
      {
        label: "Informatik Gruppe 4",
        url: "/files/iue/SoSe_25/semester_2/Informatik_2_Sem_Gruppe_4.ics",
      },
      {
        label: "Informatik Gruppe 5",
        url: "/files/iue/SoSe_25/semester_2/Informatik_2_Sem_Gruppe_5.ics",
      },
      {
        label: "Informatik Gruppe 6",
        url: "/files/iue/SoSe_25/semester_2/Informatik_2_Sem_Gruppe_6.ics",
      },
    ]}
  />
  <Accordeon
    title="Mechatronik"
    updateDate="22.02.2025"
    items={[
      {
        label: "Mechatronik Gruppe 1",
        url: "/files/iue/SoSe_25/semester_2/Mechatronik_2_Sem_Gruppe_1.ics",
      },
      {
        label: "Mechatronik Gruppe 2",
        url: "/files/iue/SoSe_25/semester_2/Mechatronik_2_Sem_Gruppe_2.ics",
      },
      {
        label: "Mechatronik Gruppe 3",
        url: "/files/iue/SoSe_25/semester_2/Mechatronik_2_Sem_Gruppe_3.ics",
      },
    ]}
  />
  <Accordeon
    title="Medieningenieur/-in"
    updateDate="22.02.2025"
    items={[
      {
        label: "Medieningenieur/-in Gruppe 1",
        url: "/files/iue/SoSe_25/semester_2/Medieningenieur_2_Sem_Gruppe_1.ics",
      },
      {
        label: "Medieningenieur/-in Gruppe 2",
        url: "/files/iue/SoSe_25/semester_2/Medieningenieur_2_Sem_Gruppe_2.ics",
      },
      {
        label: "Medieningenieur/-in Gruppe 3",
        url: "/files/iue/SoSe_25/semester_2/Medieningenieur_2_Sem_Gruppe_3.ics",
      },
      {
        label: "Medieningenieur/-in Gruppe 4",
        url: "/files/iue/SoSe_25/semester_2/Medieningenieur_2_Sem_Gruppe_4.ics",
      },
    ]}
  />
  <Accordeon
    title="Wirtschaftsingenieurwesen-Elektrotechnik"
    updateDate="22.02.2025"
    items={[
      {
        label:
          "Wirtschaftsingenieurwesen-Elektrotechnik Informationstechnik Gruppe 1",
        url: "/files/iue/SoSe_25/semester_2/Wirtschaftsingenieurwesen_ET_2_Sem_INF_Gr_1.ics",
      },
      {
        label:
          "Wirtschaftsingenieurwesen-Elektrotechnik Nachhaltige Energiesysteme Gruppe 1",
        url: "/files/iue/SoSe_25/semester_2/Wirtschaftsingenieurwesen_ET_2_Sem_NE_Gr_1.ics",
      },
      {
        label:
          "Wirtschaftsingenieurwesen-Elektrotechnik Nachhaltige Energiesysteme Gruppe 2",
        url: "/files/iue/SoSe_25/semester_2/Wirtschaftsingenieurwesen_ET_2_Sem_NE_Gr_2.ics",
      },
    ]}
  />

  <h2>4. Semester</h2>
  <Accordeon
    title="Elektrotechnik"
    updateDate="22.02.2025"
    items={[
      {
        label: "Elektrotechnik Energietechnik Gruppe 1",
        url: "/files/iue/SoSe_25/semester_4/Elektrotechnik_Energie_4_Sem_Gruppe_1.ics",
      },
      {
        label: "Elektrotechnik Energietechnik Gruppe 2",
        url: "/files/iue/SoSe_25/semester_4/Elektrotechnik_Energie_4_Sem_Gruppe_2.ics",
      },
      {
        label: "Elektrotechnik Energietechnik Gruppe 3",
        url: "/files/iue/SoSe_25/semester_4/Elektrotechnik_Energie_4_Sem_Gruppe_3.ics",
      },
      {
        label: "Elektrotechnik Informationstechnik",
        url: "/files/iue/SoSe_25/semester_4/Elektrotechnik_Informatik_4_Sem.ics",
      },
    ]}
  />
  <Accordeon
    title="Informatik"
    updateDate="22.02.2025"
    items={[
      {
        label: "Informatik Anwedungsentwicklung Gruppe 1",
        url: "/files/iue/SoSe_25/semester_4/Informatik_4_Sem_AE_Gr_1.ics",
      },
      {
        label: "Informatik Anwedungsentwicklung Gruppe 2",
        url: "/files/iue/SoSe_25/semester_4/Informatik_4_Sem_AE_Gr_2.ics",
      },
      {
        label: "Informatik Künstliche Intelligenz Gruppe 1",
        url: "/files/iue/SoSe_25/semester_4/Informatik_4_Sem_KI_Gr_1.ics",
      },
      {
        label: "Informatik Künstliche Intelligenz Gruppe 2",
        url: "/files/iue/SoSe_25/semester_4/Informatik_4_Sem_KI_Gr_2.ics",
      },
      {
        label: "Informatik Künstliche Intelligenz Gruppe 3",
        url: "/files/iue/SoSe_25/semester_4/Informatik_4_Sem_KI_Gr_3.ics",
      },
    ]}
  />
  <Accordeon
    title="Mechatronik"
    updateDate="22.02.2025"
    items={[
      {
        label: "Mechatronik Gruppe 1",
        url: "/files/iue/SoSe_25/semester_4/Mechatronik_4_Sem_Gruppe_1.ics",
      },
      {
        label: "Mechatronik Gruppe 2",
        url: "/files/iue/SoSe_25/semester_4/Mechatronik_4_Sem_Gruppe_2.ics",
      },
    ]}
  />
  <Accordeon
    title="Medieningenieur/-in"
    updateDate="22.02.2025"
    items={[
      {
        label: "Medieningenieur/-in Gruppe 1",
        url: "/files/iue/SoSe_25/semester_4/Medieningenieur_4_Sem_Gruppe_1.ics",
      },
      {
        label: "Medieningenieur/-in Gruppe 2",
        url: "/files/iue/SoSe_25/semester_4/Medieningenieur_4_Sem_Gruppe_2.ics",
      },
      {
        label: "Medieningenieur/-in Gruppe 3",
        url: "/files/iue/SoSe_25/semester_4/Medieningenieur_4_Sem_Gruppe_3.ics",
      },
      {
        label: "Medieningenieur/-in Gruppe 4",
        url: "/files/iue/SoSe_25/semester_4/Medieningenieur_4_Sem_Gruppe_4.ics",
      },
    ]}
  />
  <Accordeon
    title="Wirtschaftsingenieurwesen-Elektrotechnik"
    updateDate="22.02.2025"
    items={[
      {
        label: "Wirtschaftsingenieurwesen-Elektrotechnik Informationstechnik Gruppe 1",
        url: "/files/iue/SoSe_25/semester_4/Wirtschaftsingenieurwesen_Elektrotechnik_4_Sem_Gr_1_INF.ics",
      },
      {
        label:
          "Wirtschaftsingenieurwesen-Elektrotechnik Nachhaltige Energiesysteme Gruppe 1",
        url: "/files/iue/SoSe_25/semester_4/Wirtschaftsingenieurwesen_Elektrotechnik_4_Sem_Gr_1_NE.ics",
      },
      {
        label:
          "Wirtschaftsingenieurwesen-Elektrotechnik Nachhaltige Energiesysteme Gruppe 2",
        url: "/files/iue/SoSe_25/semester_4/Wirtschaftsingenieurwesen_Elektrotechnik_4_Sem_Gr_2_NE.ics",
      },
    ]}
  />

  <h2>6. Semester</h2>
  <Accordeon
    title="Informatik"
    updateDate="11.09.2024"
    items={[
      {
        label: "Informatik Gruppe 1",
        url: "/files/iue/SoSe_25/semester_6/Informatik_6_Sem_Gruppe_1.ics",
      },
      {
        label: "Informatik Gruppe 2",
        url: "/files/iue/SoSe_25/semester_6/Informatik_6_Sem_Gruppe_2.ics",
      },
      {
        label: "Informatik Gruppe 3",
        url: "/files/iue/SoSe_25/semester_6/Informatik_6_Sem_Gruppe_3.ics",
      },
    ]}
  />
  <Accordeon
    title="Medieningenieur/-in"
    updateDate="29.08.2024"
    items={[
      {
        label: "Medieningenieur/-in",
        url: "/files/iue/SoSe_25/semester_6/Medieningenieur_6_Sem.ics",
      },
    ]}
  />

  <h2>Wahlmodule</h2>
  <Accordeon
    title="Wahlmodule Vertiefung Energietechik"
    updateDate="22.02.2025"
    items={[
      {
        label: "Wahlmodule Vertiefung Energietechnik Teil 1",
        url: "/files/iue/SoSe_25/wahlmodule/Wahlmodule_Vertiefung_Energietechnik_Teil_1.ics",
      },
      {
        label: "Wahlmodule Vertiefung Energietechnik Teil 2",
        url: "/files/iue/SoSe_25/wahlmodule/Wahlmodule_Vertiefung_Energietechnik_Teil_2.ics",
      },
      {
        label: "Wahlmodule Vertiefung Energietechnik Teil 3",
        url: "/files/iue/SoSe_25/wahlmodule/Wahlmodule_Vertiefung_Energietechnik_Teil_3.ics",
      },
    ]}
  />
  <Accordeon
    title="Wahlmodule Vertiefung Informatik"
    updateDate="22.02.2025"
    items={[
      {
        label: "Wahlmodule Vertiefung Informatik Teil 1",
        url: "/files/iue/SoSe_25/wahlmodule/Wahlmodule_Vertiefung_Informatik_Teil_1.ics",
      },
      {
        label: "Wahlmodule Vertiefung Informatik Teil 2",
        url: "/files/iue/SoSe_25/wahlmodule/Wahlmodule_Vertiefung_Informatik_Teil_2.ics",
      },
      {
        label: "Wahlmodule Vertiefung Informatik Teil 3",
        url: "/files/iue/SoSe_25/wahlmodule/Wahlmodule_Vertiefung_Informatik_Teil_3.ics",
      },
    ]}
  />
  <Accordeon
    updateDate="22.02.2025"
    title="Wahlmodule Vertiefung Kommunikation"
    items={[
      {
        label: "Wahlmodule Vertiefung Kommunikation Teil 1",
        url: "/files/iue/SoSe_25/wahlmodule/Wahlmodule_Vertiefung_Kommunikation_Teil_1.ics",
      },
      {
        label: "Wahlmodule Vertiefung Kommunikation Teil 2",
        url: "/files/iue/SoSe_25/wahlmodule/Wahlmodule_Vertiefung_Kommunikation_Teil_2.ics",
      },
    ]}
  />
  <Accordeon
    title="Wahlmodule Vertiefung Mechatronik"
    updateDate="22.02.2025"
    items={[
      {
        label: "Wahlmodule Vertiefung Mechatronik Teil 1",
        url: "/files/iue/SoSe_25/wahlmodule/Wahlmodule_Vertiefung_Mechatronik_Teil_1.ics",
      },
      {
        label: "Wahlmodule Vertiefung Mechatronik Teil 2",
        url: "/files/iue/SoSe_25/wahlmodule/Wahlmodule_Vertiefung_Mechatronik_Teil_2.ics",
      },
      {
        label: "Wahlmodule Vertiefung Mechatronik Teil 3",
        url: "/files/iue/SoSe_25/wahlmodule/Wahlmodule_Vertiefung_Mechatronik_Teil_3.ics",
      },
    ]}
  />
  <Accordeon
    title="Interdiszipläre Wahlmodule"
    updateDate="22.02.2025"
    items={[
      {
        label: "Interdiszipläre Wahlmodule Teil 1",
        url: "/files/iue/SoSe_25/wahlmodule/Interdisziplinäre_Wahlmodule_Teil_1.ics",
      },
      {
        label: "Interdiszipläre Wahlmodule Wochenendseminare Teil 1",
        url: "/files/iue/SoSe_25/wahlmodule/Interdisziplinäre_Wahlmodule_Wochenendseminare_1.ics",
      },
    ]}
  />

  <h2>Mastermodule</h2>
  <Accordeon
    title="Master Elektrische Technologien Pflichtmodule"
    updateDate="22.02.2025"
    items={[
      {
        label: "Master Elektrische Technologien Pflichtmodule Vertiefung Energietechnik",
        url: "/files/iue/SoSe_25/master/Master_ET_Pflichtmodule_Vertiefung_Energietechnik.ics",
      },
      {
        label: "Master Elektrische Technologien Pflichtmodule Vertiefung Kommunikationstechnik",
        url: "/files/iue/SoSe_25/master/Master_ET_Pflichtmodule_Vertiefung_Kommunikationstech.ics",
      },
      {
        label: "Master Elektrische Technologien Pflichtmodule Vertiefung Mechatronik",
        url: "/files/iue/SoSe_25/master/Master_ET_Pflichtmodule_Vertiefung_Mechatronik.ics",
      },
    ]}
  />
  <Accordeon
    title="Master Elektrische Technologien Wahlmodule"
    updateDate="22.02.2025"
    items={[
      {
        label: "Mastermodule Elektrische Technologien Energietechnik",
        url: "/files/iue/WiSe_2425/master/Mastermodule_Energietechnik.ics",
      },
      {
        label: "Mastermodule Elektrische Technologien Kommunikationstechnik",
        url: "/files/iue/WiSe_2425/master/Mastermodule_Kommunikationstechnik.ics",
      },
      {
        label: "Mastermodule Elektrische Technologien Mechatronik",
        url: "/files/iue/WiSe_2425/master/Mastermodule_Mechatronik.ics",
      },
    ]}
  />
  <Accordeon
    title="Master Computer Science / Master Information Engineering"
    updateDate="25.02.2025"
    items={[
      {
        label:
          "Master Computer Science / Master Information Engineering Compulsory Courses Part 1",
        url: "/files/iue/SoSe_25/master/Master_CS_Master_IE_Compulsory_Course_Part_1",
      },
      {
        label:
          "Master Computer Science / Master Information Engineering Compulsory Courses Part 2",
        url: "/files/iue/SoSe_25/master/Master_CS_Master_IE_Compulsory_Course_Part_2",
      },
      {
        label:
          "Master Computer Science / Master Information Engineering Elective Courses Part 1",
        url: "/files/iue/SoSe_25/master/Master_CS_Master_IE_Elective_modules_1",
      },
      {
        label:
          "Master Computer Science / Master Information Engineering Elective Courses Part 2",
        url: "/files/iue/SoSe_25/master/Master_CS_Master_IE_Elective_modules_2",
      },
    ]}
  />

  <h2>Dozenten</h2>
  <Accordeon
    title="Alle Lehrenden"
    updateDate="25.02.2025"
    items={[
      { label: "A. Neumann", url: "/files/iue/SoSe_25/dozenten/A_Neumann.ics" },
      { label: "A. Raschke", url: "/files/iue/SoSe_25/dozenten/A_Raschke.ics" },
      { label: "C. Brauer", url: "/files/iue/SoSe_25/dozenten/C_Brauer.ics" },
      {
        label: "C. D. Piontke",
        url: "/files/iue/SoSe_25/dozenten/C_D_Piontke.ics",
      },
      { label: "C. Glüsing", url: "/files/iue/SoSe_25/dozenten/C_Glüsing.ics" },
      { label: "C. Kopka", url: "/files/iue/SoSe_25/dozenten/C_Kopka.ics" },
      {
        label: "C. Schwatlo",
        url: "/files/iue/SoSe_25/dozenten/C_Schwatlo.ics",
      },
      { label: "C. Wurl", url: "/files/iue/SoSe_25/dozenten/C_Wurl.ics" },
      {
        label: "Diverse. Doz. FB. M",
        url: "/files/iue/SoSe_25/dozenten/Diverse_Doz_FB_M.ics",
      },
      { label: "Dr. Mohs", url: "/files/iue/SoSe_25/dozenten/Dr_Mohs.ics" },
      { label: "E. Moritz", url: "/files/iue/SoSe_25/dozenten/E_Moritz.ics" },
      {
        label: "E. Petersen",
        url: "/files/iue/SoSe_25/dozenten/E_Petersen.ics",
      },
      { label: "Fr. Rähse", url: "/files/iue/SoSe_25/dozenten/Fr_Rähse.ics" },
      { label: "F. Caspar", url: "/files/iue/SoSe_25/dozenten/F_Caspar.ics" },
      { label: "G. Manske", url: "/files/iue/SoSe_25/dozenten/G_Manske.ics" },
      {
        label: "G. S. Gesell",
        url: "/files/iue/SoSe_25/dozenten/G_S_Gesell.ics",
      },
      { label: "G. Werner", url: "/files/iue/SoSe_25/dozenten/G_Werner.ics" },
      {
        label: "Hannes. Gavrilov",
        url: "/files/iue/SoSe_25/dozenten/Hannes_Gavrilov.ics",
      },
      { label: "H. Eilers", url: "/files/iue/SoSe_25/dozenten/H_Eilers.ics" },
      {
        label: "H. Folkerts",
        url: "/files/iue/SoSe_25/dozenten/H_Folkerts.ics",
      },
      { label: "H. Oenings", url: "/files/iue/SoSe_25/dozenten/H_Oenings.ics" },
      { label: "J. Angres", url: "/files/iue/SoSe_25/dozenten/J_Angres.ics" },
      {
        label: "J. Dittmann",
        url: "/files/iue/SoSe_25/dozenten/J_Dittmann.ics",
      },
      {
        label: "J. Hoffmüller",
        url: "/files/iue/SoSe_25/dozenten/J_Hoffmüller.ics",
      },
      { label: "J. Jürgens", url: "/files/iue/SoSe_25/dozenten/J_Jürgens.ics" },
      {
        label: "J. Kohlmorgen",
        url: "/files/iue/SoSe_25/dozenten/J_Kohlmorgen.ics",
      },
      {
        label: "J. Nowitzki",
        url: "/files/iue/SoSe_25/dozenten/J_Nowitzki.ics",
      },
      { label: "J. Schiwy", url: "/files/iue/SoSe_25/dozenten/J_Schiwy.ics" },
      {
        label: "K. Hartmann",
        url: "/files/iue/SoSe_25/dozenten/K_Hartmann.ics",
      },
      {
        label: "K. Hinkelmann",
        url: "/files/iue/SoSe_25/dozenten/K_Hinkelmann.ics",
      },
      {
        label: "L. Jorswieck",
        url: "/files/iue/SoSe_25/dozenten/L_Jorswieck.ics",
      },
      { label: "M. Ignatov", url: "/files/iue/SoSe_25/dozenten/M_Ignatov.ics" },
      { label: "M. Menzel", url: "/files/iue/SoSe_25/dozenten/M_Menzel.ics" },
      { label: "M. Pöpper", url: "/files/iue/SoSe_25/dozenten/M_Pöpper.ics" },
      { label: "M. Riedel", url: "/files/iue/SoSe_25/dozenten/M_Riedel.ics" },
      {
        label: "M. Robinius",
        url: "/files/iue/SoSe_25/dozenten/M_Robinius.ics",
      },
      {
        label: "M. Senkbeil",
        url: "/files/iue/SoSe_25/dozenten/M_Senkbeil.ics",
      },
      { label: "M. Sieloff", url: "/files/iue/SoSe_25/dozenten/M_Sieloff.ics" },
      {
        label: "M. Teichmann",
        url: "/files/iue/SoSe_25/dozenten/M_Teichmann.ics",
      },
      { label: "M. Zupke", url: "/files/iue/SoSe_25/dozenten/M_Zupke.ics" },
      {
        label: "Prof. Acker",
        url: "/files/iue/SoSe_25/dozenten/Prof_Acker.ics",
      },
      {
        label: "Prof. Aßmuth",
        url: "/files/iue/SoSe_25/dozenten/Prof_Aßmuth.ics",
      },
      {
        label: "Prof. Badri. Höher",
        url: "/files/iue/SoSe_25/dozenten/Prof_Badri_Höher.ics",
      },
      {
        label: "Prof. Bicakci",
        url: "/files/iue/SoSe_25/dozenten/Prof_Bicakci.ics",
      },
      {
        label: "Prof. Brauer",
        url: "/files/iue/SoSe_25/dozenten/Prof_Brauer.ics",
      },
      {
        label: "Prof. Ehlers",
        url: "/files/iue/SoSe_25/dozenten/Prof_Ehlers.ics",
      },
      {
        label: "Prof. Hennig",
        url: "/files/iue/SoSe_25/dozenten/Prof_Hennig.ics",
      },
      {
        label: "Prof. Immel",
        url: "/files/iue/SoSe_25/dozenten/Prof_Immel.ics",
      },
      {
        label: "Prof. Jacobsen",
        url: "/files/iue/SoSe_25/dozenten/Prof_Jacobsen.ics",
      },
      {
        label: "Prof. Jetzek",
        url: "/files/iue/SoSe_25/dozenten/Prof_Jetzek.ics",
      },
      {
        label: "Prof. Kallies",
        url: "/files/iue/SoSe_25/dozenten/Prof_Kallies.ics",
      },
      {
        label: "Prof. Krueger",
        url: "/files/iue/SoSe_25/dozenten/Prof_Krueger.ics",
      },
      {
        label: "Prof. Lebert",
        url: "/files/iue/SoSe_25/dozenten/Prof_Lebert.ics",
      },
      {
        label: "Prof. Luczak",
        url: "/files/iue/SoSe_25/dozenten/Prof_Luczak.ics",
      },
      {
        label: "Prof. Lüssem",
        url: "/files/iue/SoSe_25/dozenten/Prof_Lüssem.ics",
      },
      {
        label: "Prof. Manzke",
        url: "/files/iue/SoSe_25/dozenten/Prof_Manzke.ics",
      },
      {
        label: "Prof. Neumann",
        url: "/files/iue/SoSe_25/dozenten/Prof_Neumann.ics",
      },
      {
        label: "Prof. Osterwald",
        url: "/files/iue/SoSe_25/dozenten/Prof_Osterwald.ics",
      },
      { label: "Prof. Patz", url: "/files/iue/SoSe_25/dozenten/Prof_Patz.ics" },
      {
        label: "Prof. Petersen",
        url: "/files/iue/SoSe_25/dozenten/Prof_Petersen.ics",
      },
      {
        label: "Prof. Prieß",
        url: "/files/iue/SoSe_25/dozenten/Prof_Prieß.ics",
      },
      {
        label: "Prof. Prochnow",
        url: "/files/iue/SoSe_25/dozenten/Prof_Prochnow.ics",
      },
      {
        label: "Prof. Rinder",
        url: "/files/iue/SoSe_25/dozenten/Prof_Rinder.ics",
      },
      {
        label: "Prof. Schmidt. Rethmeier",
        url: "/files/iue/SoSe_25/dozenten/Prof_Schmidt_Rethmeier.ics",
      },
      {
        label: "Prof. Schümann",
        url: "/files/iue/SoSe_25/dozenten/Prof_Schümann.ics",
      },
      {
        label: "Prof. Stock",
        url: "/files/iue/SoSe_25/dozenten/Prof_Stock.ics",
      },
      {
        label: "Prof. Weber",
        url: "/files/iue/SoSe_25/dozenten/Prof_Weber.ics",
      },
      {
        label: "Prof. Wehrend",
        url: "/files/iue/SoSe_25/dozenten/Prof_Wehrend.ics",
      },
      {
        label: "Prof. Woelk",
        url: "/files/iue/SoSe_25/dozenten/Prof_Woelk.ics",
      },
      { label: "Prof. Wree", url: "/files/iue/SoSe_25/dozenten/Prof_Wree.ics" },
      { label: "P. Wrobel", url: "/files/iue/SoSe_25/dozenten/P_Wrobel.ics" },
      {
        label: "R. Hellmund",
        url: "/files/iue/SoSe_25/dozenten/R_Hellmund.ics",
      },
      { label: "R. Raßmann", url: "/files/iue/SoSe_25/dozenten/R_Raßmann.ics" },
      { label: "S. Herzog", url: "/files/iue/SoSe_25/dozenten/S_Herzog.ics" },
      { label: "S. Koß", url: "/files/iue/SoSe_25/dozenten/S_Koß.ics" },
      {
        label: "S. Schmarbeck",
        url: "/files/iue/SoSe_25/dozenten/S_Schmarbeck.ics",
      },
      { label: "T. Greve", url: "/files/iue/SoSe_25/dozenten/T_Greve.ics" },
      { label: "T. Rixen", url: "/files/iue/SoSe_25/dozenten/T_Rixen.ics" },
    ]}
  />
</Layout>
