---
import Layout from "../layouts/Layout.astro";
import Accordeon from "../components/Accordeon.astro";
import Disclaimer from "../components/Disclaimer.astro";
---

<Layout title="Informatik und Elektrotechnik">
    <Disclaimer />

    <h2>2. Semester</h2>
    <Accordeon
        title="Elektrotechnik"
        updateDate="26.02.2024"
        items={[
            {
                label: "Elektrotechnik Gruppe 1",
                url: "/files/iue/semester_2/Elektrotechnik_2_Sem_Gruppe_1.ics",
            },
            {
                label: "Elektrotechnik Gruppe 2",
                url: "/files/iue/semester_2/Elektrotechnik_2_Sem_Gruppe_2.ics",
            },
            {
                label: "Elektrotechnik Gruppe 3",
                url: "/files/iue/semester_2/Elektrotechnik_2_Sem_Gruppe_3.ics",
            },
            {
                label: "Elektrotechnik Gruppe 4",
                url: "/files/iue/semester_2/Elektrotechnik_2_Sem_Gruppe_4.ics",
            },
        ]}
    />
    <Accordeon
        title="Informatik"
        updateDate="14.03.2024"
        items={[
            {
                label: "Informatik Gruppe 1",
                url: "/files/iue/semester_2/Informatik_2_Sem_Gruppe_1.ics",
            },
            {
                label: "Informatik Gruppe 2",
                url: "/files/iue/semester_2/Informatik_2_Sem_Gruppe_2.ics",
            },
            {
                label: "Informatik Gruppe 3",
                url: "/files/iue/semester_2/Informatik_2_Sem_Gruppe_3.ics",
            },
            {
                label: "Informatik Gruppe 4",
                url: "/files/iue/semester_2/Informatik_2_Sem_Gruppe_4.ics",
            },
            {
                label: "Informatik Gruppe 5",
                url: "/files/iue/semester_2/Informatik_2_Sem_Gruppe_5.ics",
            },
            {
                label: "Informatik Gruppe 6",
                url: "/files/iue/semester_2/Informatik_2_Sem_Gruppe_6.ics",
            },
        ]}
    />
    <Accordeon
        title="Mechatronik"
        updateDate="14.03.2024"
        items={[
            {
                label: "Mechatronik Gruppe 1",
                url: "/files/iue/semester_2/Mechatronik_2_Sem_Gruppe_1.ics",
            },
            {
                label: "Mechatronik Gruppe 2",
                url: "/files/iue/semester_2/Mechatronik_2_Sem_Gruppe_2.ics",
            },
        ]}
    />
    <Accordeon
        title="Medieningenieur/-in"
        updateDate="26.02.2024"
        items={[
            {
                label: "Medieningenieur/-in Gruppe 1",
                url: "/files/iue/semester_2/Medieningenieur_2_Sem_Gruppe_1.ics",
            },
            {
                label: "Medieningenieur/-in Gruppe 2",
                url: "/files/iue/semester_2/Medieningenieur_2_Sem_Gruppe_2.ics",
            },
            {
                label: "Medieningenieur/-in Gruppe 3",
                url: "/files/iue/semester_2/Medieningenieur_2_Sem_Gruppe_3.ics",
            },
            {
                label: "Medieningenieur/-in Gruppe 4",
                url: "/files/iue/semester_2/Medieningenieur_2_Sem_Gruppe_4.ics",
            },
            {
                label: "Medieningenieur/-in Gruppe 5",
                url: "/files/iue/semester_2/Medieningenieur_2_Sem_Gruppe_5.ics",
            },
            {
                label: "Medieningenieur/-in Gruppe 6",
                url: "/files/iue/semester_2/Medieningenieur_2_Sem_Gruppe_6.ics",
            },
        ]}
    />
    <Accordeon
        title="Wirtschaftsingenieurwesen-Elektrotechnik"
        updateDate="26.02.2024"
        items={[
            {
                label: "Wirtschaftsingenieurwesen-Elektrotechnik Gruppe 1",
                url: "/files/iue/semester_2/Wirtschaftsingenieurwesen_ET_2_Sem_INF_Gr_1.ics",
            },
            {
                label: "Wirtschaftsingenieurwesen-Elektrotechnik Gruppe 2",
                url: "/files/iue/semester_2/Wirtschaftsingenieurwesen_ET_2_Sem_INF_Gr_2.ics",
            },
            {
                label: "Wirtschaftsingenieurwesen-Elektrotechnik Gruppe 3",
                url: "/files/iue/semester_2/Wirtschaftsingenieurwesen_ET_2_Sem_INF_Gr_3.ics",
            },
        ]}
    />

    <h2>4. Semester</h2>
    <Accordeon
        title="Elektrotechnik"
        updateDate="14.03.2024"
        items={[
            {
                label: "Elektrotechnik Energietechnik Gruppe 1",
                url: "/files/iue/semester_4/Elektrotechnik_Energie_4_Sem_Gruppe_1.ics",
            },
            {
                label: "Elektrotechnik Energietechnik Gruppe 2",
                url: "/files/iue/semester_4/Elektrotechnik_Energie_4_Sem_Gruppe_2.ics",
            },
            {
                label: "Elektrotechnik Kommunikationstechnik",
                url: "/files/iue/semester_4/Elektrotechnik_Kommunikation_4_Sem_Gr_1.ics",
            },
            {
                label: "Elektrotechnik Technische Informatik",
                url: "/files/iue/semester_4/Elektrotechnik_Informatik_4_Sem.ics",
            },
        ]}
    />
    <Accordeon
        title="Informatik"
        updateDate="26.02.2024"
        items={[
            {
                label: "Informatik Anwedungsentwicklung Gruppe 1",
                url: "/files/iue/semester_4/Informatik_4_Sem_AE_Gr_1.ics",
            },
            {
                label: "Informatik Anwedungsentwicklung Gruppe 2",
                url: "/files/iue/semester_4/Informatik_4_Sem_AE_Gr_2.ics",
            },
            {
                label: "Informatik Künstliche Intelligenz Gruppe 1",
                url: "/files/iue/semester_4/Informatik_4_Sem_KI_Gr_1.ics",
            },
            {
                label: "Informatik Künstliche Intelligenz Gruppe 2",
                url: "/files/iue/semester_4/Informatik_4_Sem_KI_Gr_2.ics",
            },
        ]}
    />
    <Accordeon
        title="Mechatronik"
        updateDate="26.02.2024"
        items={[
            {
                label: "Mechatronik Gruppe 1",
                url: "/files/iue/semester_4/Mechatronik_4_Sem_Gruppe_1.ics",
            },
            {
                label: "Mechatronik Gruppe 2",
                url: "/files/iue/semester_4/Mechatronik_4_Sem_Gruppe_2.ics",
            },
        ]}
    />
    <Accordeon
        title="Medieningenieur/-in"
        updateDate="26.02.2024"
        items={[
            {
                label: "Medieningenieur/-in Gruppe 1",
                url: "/files/iue/semester_4/Medieningenieur_4_Sem_Gruppe_1.ics",
            },
            {
                label: "Medieningenieur/-in Gruppe 2",
                url: "/files/iue/semester_4/Medieningenieur_4_Sem_Gruppe_2.ics",
            },
            {
                label: "Medieningenieur/-in Gruppe 3",
                url: "/files/iue/semester_4/Medieningenieur_4_Sem_Gruppe_3.ics",
            },
        ]}
    />
    <Accordeon
        title="Wirtschaftsingenieurwesen-Elektrotechnik"
        updateDate="14.03.2024"
        items={[
            {
                label: "Wirtschaftsingenieurwesen-Elektrotechnik Digitale Wirtschaft",
                url: "/files/iue/semester_4/Wirtschaftsingenieurwesen_Elektrotechnik_4_Sem_Gr_1_DW.ics",
            },
            {
                label: "Wirtschaftsingenieurwesen-Elektrotechnik Kommunikation",
                url: "/files/iue/semester_4/Wirtschaftsingenieurwesen_Elektrotechnik_4_Sem_Gr_1_Kommunikation.ics",
            },
            {
                label: "Wirtschaftsingenieurwesen-Elektrotechnik Nachhaltige Energiesysteme Gruppe 1",
                url: "/files/iue/semester_4/Wirtschaftsingenieurwesen_Elektrotechnik_4_Sem_Gr_1_NE.ics",
            },
            {
                label: "Wirtschaftsingenieurwesen-Elektrotechnik Nachhaltige Energiesysteme Gruppe 2",
                url: "/files/iue/semester_4/Wirtschaftsingenieurwesen_Elektrotechnik_4_Sem_Gr_2_NE.ics",
            },
        ]}
    />

    <h2>6. Semester</h2>
    <Accordeon
        title="Informatik"
        updateDate="26.02.2024"
        items={[
            {
                label: "Informatik Gruppe 1",
                url: "/files/iue/semester_6/Informatik_6_Sem_Gruppe_1.ics",
            },
            {
                label: "Informatik Gruppe 2",
                url: "/files/iue/semester_6/Informatik_6_Sem_Gruppe_2.ics",
            },
            {
                label: "Informatik Gruppe 3",
                url: "/files/iue/semester_6/Informatik_6_Sem_Gruppe_3.ics",
            },
        ]}
    />
    <Accordeon
        title="Medieningenieur/-in"
        updateDate="26.02.2024"
        items={[
            {
                label: "Medieningenieur/-in",
                url: "/files/iue/semester_6/Medieningenieur_6_Sem.ics",
            },
        ]}
    />

    <h2>Wahlmodule</h2>
    <Accordeon
        title="Wahlmodule Elektrotechnik"
        updateDate="26.02.2024"
        items={[
            {
                label: "Wahlmodule Energietechnik Teil 1",
                url: "/files/iue/wahlmodule/Wahlmodule_Vertiefung_Energietechnik_Teil_1.ics",
            },
            {
                label: "Wahlmodule Energietechnik Teil 2",
                url: "/files/iue/wahlmodule/Wahlmodule_Vertiefung_Energietechnik_Teil_2.ics",
            },
            {
                label: "Wahlmodule Energietechnik Teil 3",
                url: "/files/iue/wahlmodule/Wahlmodule_Vertiefung_Energietechnik_Teil_3.ics",
            },
        ]}
    />
    <Accordeon
        title="Wahlmodule Informatik"
        updateDate="15.03.2024"
        items={[
            {
                label: "Wahlmodule Informatik Teil 1",
                url: "/files/iue/wahlmodule/Wahlmodule_Vertiefung_Informatik_Teil_1.ics",
            },
            {
                label: "Wahlmodule Informatik Teil 2",
                url: "/files/iue/wahlmodule/Wahlmodule_Vertiefung_Informatik_Teil_2.ics",
            },
            {
                label: "Wahlmodule Informatik Teil 3",
                url: "/files/iue/wahlmodule/Wahlmodule_Vertiefung_Informatik_Teil_3.ics",
            },
        ]}
    />
    <Accordeon
        title="Wahlmodule Kommunikationstechnik"
        updateDate="26.02.2024"
        items={[
            {
                label: "Wahlmodule Kommunikationstechnik Teil 1",
                url: "/files/iue/wahlmodule/Wahlmodule_Vertiefung_Kommunikation_Teil_1.ics",
            },
            {
                label: "Wahlmodule Kommunikationstechnik Teil 2",
                url: "/files/iue/wahlmodule/Wahlmodule_Vertiefung_Kommunikation_Teil_2.ics",
            },
            {
                label: "Wahlmodule Kommunikationstechnik Teil 3",
                url: "/files/iue/wahlmodule/Wahlmodule_Vertiefung_Kommunikation_Teil_3.ics",
            },
        ]}
    />
    <Accordeon
        title="Wahlmodule Mechatronik"
        updateDate="14.03.2024"
        items={[
            {
                label: "Wahlmodule Mechatronik Teil 1",
                url: "/files/iue/wahlmodule/Wahlmodule_Vertiefung_Mechatronik_Teil_1.ics",
            },
            {
                label: "Wahlmodule Mechatronik Teil 2",
                url: "/files/iue/wahlmodule/Wahlmodule_Vertiefung_Mechatronik_Teil_2.ics",
            },
            {
                label: "Wahlmodule Mechatronik Teil 3",
                url: "/files/iue/wahlmodule/Wahlmodule_Vertiefung_Mechatronik_Teil_3.ics",
            },
        ]}
    />

    <h2>Mastermodule</h2>
    <Accordeon
        title="Master Elektrische Technologien Pflichtmodule"
        updateDate="26.02.2024"
        items={[
            {
                label: "Master Elektrotechnik Pflichtmodule Energietechnik",
                url: "/files/iue/master/Master_ET_Pflichtmodule_Vertiefung_Energietechnik.ics",
            },
            {
                label: "Master Elektrotechnik Pflichtmodule Kommunikationstechnik",
                url: "/files/iue/master/Master_ET_Pflichtmodule_Vertiefung_Kommunikationstech.ics",
            },
            {
                label: "Master Elektrotechnik Pflichtmodule Mechatronik",
                url: "/files/iue/master/Master_ET_Pflichtmodule_Vertiefung_Mechatronik.ics",
            },
        ]}
    />
    <Accordeon
        title="Master Elektrische Technologien Wahlmodule"
        updateDate="26.02.2024"
        items={[
            {
                label: "Mastermodule Elektrotechnik Energietechnik",
                url: "/files/iue/master/Mastermodule_Energietechnik.ics",
            },
            {
                label: "Mastermodule Elektrotechnik Kommunikationstechnik",
                url: "/files/iue/master/Mastermodule_Kommunikationstechnik.ics",
            },
            {
                label: "Mastermodule Elektrotechnik Mechatronik 1",
                url: "/files/iue/master/Mastermodule_Mechatronik_1.ics",
            },
            {
                label: "Mastermodule Elektrotechnik Mechatronik 2",
                url: "/files/iue/master/Mastermodule_Mechatronik_2.ics",
            },
        ]}
    />
    <Accordeon
        title="Master Computer Science"
        updateDate="14.03.2024"
        items={[
            {
                label: "Master Computer Science Compulsory Courses",
                url: "/files/iue/master/Master_Computer_Science_Compulsory_Courses.ics",
            },
            {
                label: "Master Computer Science Information Engineering Elective Courses 1",
                url: "/files/iue/master/Master_CS_Master_IE_Elective_modules_1.ics",
            },
            {
                label: "Master Computer Science Information Engineering Elective Courses 2",
                url: "/files/iue/master/Master_CS_Master_IE_Elective_modules_2.ics",
            },
        ]}
    />

    <h2>Interdiszipläre Wahlmodule</h2>
    <Accordeon
        title="Interdiszipläre Wahlmodule"
        updateDate="26.02.2024"
        items={[
            {
                label: "Interdiszipläre Wahlmodule",
                url: "/files/iue/interdiziplnaer/Interdisziplinäre_Wahlmodule_Teil_1.ics",
            },
            {
                label: "Interdiszipläre Wahlmodule Wochenendseminare",
                url: "/files/iue/interdiziplnaer/Interdisziplinäre_Wahlmodule_Wochenendseminare_1.ics",
            },
        ]}
    />

    <h2>Dozenten</h2>
    <Accordeon
        title="Alle Lehrenden"
        updateDate="26.02.2024"
        items={[
            {
                label: "A. Neumann",
                url: "/files/iue/dozenten/A_Neumann.ics",
            },
            {
                label: "A. Raschke",
                url: "/files/iue/dozenten/A_Raschke.ics",
            },
            {
                label: "A. Totzek",
                url: "/files/iue/dozenten/A_Totzek.ics",
            },
            {
                label: "A. Troy-Inniss",
                url: "/files/iue/dozenten/A_Troy_Inniss.ics",
            },
            {
                label: "C. Brauer",
                url: "/files/iue/dozenten/C_Brauer.ics",
            },
            {
                label: "C. D. Piontke",
                url: "/files/iue/dozenten/C_D_Piontke.ics",
            },
            {
                label: "C. Glüsing",
                url: "/files/iue/dozenten/C_Glüsing.ics",
            },
            {
                label: "C. Kopka",
                url: "/files/iue/dozenten/C_Kopka.ics",
            },
            {
                label: "C. Schwatlo",
                url: "/files/iue/dozenten/C_Schwatlo.ics",
            },
            {
                label: "Dr. Mohs",
                url: "/files/iue/dozenten/Dr_Mohs.ics",
            },
            {
                label: "E. Moritz",
                url: "/files/iue/dozenten/E_Moritz.ics",
            },
            {
                label: "E. Petersen",
                url: "/files/iue/dozenten/E_Petersen.ics",
            },
            {
                label: "E. Willson",
                url: "/files/iue/dozenten/E_Willson.ics",
            },
            {
                label: "F. Bubbers",
                url: "/files/iue/dozenten/F_Bubbers.ics",
            },
            {
                label: "Fr. Rähse",
                url: "/files/iue/dozenten/Fr_Rähse.ics",
            },
            {
                label: "H. Eilers",
                url: "/files/iue/dozenten/H_Eilers.ics",
            },
            {
                label: "H. Oenings",
                url: "/files/iue/dozenten/H_Oenings.ics",
            },
            {
                label: "Hr. Kasalo",
                url: "/files/iue/dozenten/Hr_Kasalo.ics",
            },
            {
                label: "J. Angres",
                url: "/files/iue/dozenten/J_Angres.ics",
            },
            {
                label: "J. Dittmann",
                url: "/files/iue/dozenten/J_Dittmann.ics",
            },
            {
                label: "J. Hoffmüller",
                url: "/files/iue/dozenten/J_Hoffmüller.ics",
            },
            {
                label: "J. Kohlmorgen",
                url: "/files/iue/dozenten/J_Kohlmorgen.ics",
            },
            {
                label: "J. Nowitzki",
                url: "/files/iue/dozenten/J_Nowitzki.ics",
            },
            {
                label: "K. Hinkelmann",
                url: "/files/iue/dozenten/K_Hinkelmann.ics",
            },
            {
                label: "K. Wilson",
                url: "/files/iue/dozenten/K_Wilson.ics",
            },
            {
                label: "L. Jorswieck",
                url: "/files/iue/dozenten/L_Jorswieck.ics",
            },
            {
                label: "L. Jorswieck",
                url: "/files/iue/dozenten/L_Jorswieck.ics",
            },
            {
                label: "M. Löwe (Aufgrund eines Softwarefehlers ist die Datei nicht verfügbar)",
                url: "",
            },
            {
                label: "M. Menzel",
                url: "/files/iue/dozenten/M_Menzel.ics",
            },
            {
                label: "M. Riedel",
                url: "/files/iue/dozenten/M_Riedel.ics",
            },
            {
                label: "M. Robinius",
                url: "/files/iue/dozenten/M_Robinius.ics",
            },
            {
                label: "M. Sieloff",
                url: "/files/iue/dozenten/M_Sieloff.ics",
            },
            {
                label: "M. Stüwe",
                url: "/files/iue/dozenten/M_Stüwe.ics",
            },
            {
                label: "M. Teichmann",
                url: "/files/iue/dozenten/M_Teichmann.ics",
            },
            {
                label: "M. Voß",
                url: "/files/iue/dozenten/M_Voß.ics",
            },
            {
                label: "Prof. Acker",
                url: "/files/iue/dozenten/Prof_Acker.ics",
            },
            {
                label: "Prof. Badri-Höher",
                url: "/files/iue/dozenten/Prof_Badri_Höher.ics",
            },
            {
                label: "Prof. Bicakci",
                url: "/files/iue/dozenten/Prof_Bicakci.ics",
            },
            {
                label: "Prof. Brauer",
                url: "/files/iue/dozenten/Prof_Brauer.ics",
            },
            {
                label: "Prof. Ehlers",
                url: "/files/iue/dozenten/Prof_Ehlers.ics",
            },
            {
                label: "Prof. Eisele",
                url: "/files/iue/dozenten/Prof_Eisele.ics",
            },
            {
                label: "Prof. Finkemeyer (FB-M)",
                url: "/files/iue/dozenten/Prof_Finkemeyer_(FB_M).ics",
            },
            {
                label: "Prof. Hennig",
                url: "/files/iue/dozenten/Prof_Hennig.ics",
            },
            {
                label: "Prof. Immel",
                url: "/files/iue/dozenten/Prof_Immel.ics",
            },
            {
                label: "Prof. Jacobsen",
                url: "/files/iue/dozenten/Prof_Jacobsen.ics",
            },
            {
                label: "Prof. Jetzek",
                url: "/files/iue/dozenten/Prof_Jetzek.ics",
            },
            {
                label: "Prof. Kallies",
                url: "/files/iue/dozenten/Prof_Kallies.ics",
            },
            {
                label: "Prof. Krueger",
                url: "/files/iue/dozenten/Prof_Krueger.ics",
            },
            {
                label: "Prof. Lebert",
                url: "/files/iue/dozenten/Prof_Lebert.ics",
            },
            {
                label: "Prof. Luczak",
                url: "/files/iue/dozenten/Prof_Luczak.ics",
            },
            {
                label: "Prof. Lüssem",
                url: "/files/iue/dozenten/Prof_Lüssem.ics",
            },
            {
                label: "Prof. Manzke",
                url: "/files/iue/dozenten/Prof_Manzke.ics",
            },
            {
                label: "Prof. Mielke",
                url: "/files/iue/dozenten/Prof_Mielke.ics",
            },
            {
                label: "Prof. Neumann",
                url: "/files/iue/dozenten/Prof_Neumann.ics",
            },
            {
                label: "Prof. Osterwald",
                url: "/files/iue/dozenten/Prof_Osterwald.ics",
            },
            {
                label: "Prof. Patz",
                url: "/files/iue/dozenten/Prof_Patz.ics",
            },
            {
                label: "Prof. Petersen",
                url: "/files/iue/dozenten/Prof_Petersen.ics",
            },
            {
                label: "Prof. Prochnow",
                url: "/files/iue/dozenten/Prof_Prochnow.ics",
            },
            {
                label: "Prof. Rinder",
                url: "/files/iue/dozenten/Prof_Rinder.ics",
            },
            {
                label: "Prof. Schmidt-Rethmeier",
                url: "/files/iue/dozenten/Prof_Schmidt_Rethmeier.ics",
            },
            {
                label: "Prof. Schramm",
                url: "/files/iue/dozenten/Prof_Schramm.ics",
            },
            {
                label: "Prof. Schümann",
                url: "/files/iue/dozenten/Prof_Schümann.ics",
            },
            {
                label: "Prof. Stock",
                url: "/files/iue/dozenten/Prof_Stock.ics",
            },
            {
                label: "Prof. Weber",
                url: "/files/iue/dozenten/Prof_Weber.ics",
            },
            {
                label: "Prof. Wehrend",
                url: "/files/iue/dozenten/Prof_Wehrend.ics",
            },
            {
                label: "Prof. Woelk",
                url: "/files/iue/dozenten/Prof_Woelk.ics",
            },
            {
                label: "Prof. Woelk 2",
                url: "/files/iue/dozenten/Prof_Woelk_2.ics",
            },
            {
                label: "Prof. Wree",
                url: "/files/iue/dozenten/Prof_Wree.ics",
            },
            {
                label: "R. Hellmund",
                url: "/files/iue/dozenten/R_Hellmund.ics",
            },
            {
                label: "R. Jones",
                url: "/files/iue/dozenten/R_Jones.ics",
            },
            {
                label: "R. West",
                url: "/files/iue/dozenten/R_West.ics",
            },
            {
                label: "S. Fleck",
                url: "/files/iue/dozenten/S_Fleck.ics",
            },
            {
                label: "S. Herzog",
                url: "/files/iue/dozenten/S_Herzog.ics",
            },
            {
                label: "S. Horn",
                url: "/files/iue/dozenten/S_Horn.ics",
            },
            {
                label: "S. Koß",
                url: "/files/iue/dozenten/S_Koß.ics",
            },
            {
                label: "S. Schmarbeck",
                url: "/files/iue/dozenten/S_Schmarbeck.ics",
            },
            {
                label: "S. Wagner",
                url: "/files/iue/dozenten/S_Wagner.ics",
            },
            {
                label: "S. Wagner 2",
                url: "/files/iue/dozenten/S_Wagner_2.ics",
            },
            {
                label: "T. Greve",
                url: "/files/iue/dozenten/T_Greve.ics",
            },
            {
                label: "T. Hodson",
                url: "/files/iue/dozenten/T_Hodson.ics",
            },
            {
                label: "T. Rixen",
                url: "/files/iue/dozenten/T_Rixen.ics",
            },
            {
                label: "T. Thiericke",
                url: "/files/iue/dozenten/T_Thiericke.ics",
            },
            {
                label: "V. Draack",
                url: "/files/iue/dozenten/V_Draack.ics",
            },
        ]}
    />
</Layout>
