---
import Layout from "../layouts/Layout.astro";
import Accordeon from "../components/Accordeon.astro";
import Disclaimer from "../components/Disclaimer.astro";
---

<Layout title="Informatik und Elektrotechnik">
  <Disclaimer />

  <h2>1. Semester</h2>
  <Accordeon
    title="Elektrotechnik"
    updateDate="29.08.2024"
    items={[
      {
        label: "Elektrotechnik Gruppe 1",
        url: "/files/iue/WiSe_2425/semester_1/1_Sem_Elektrotechnik_Gruppe_1.ics",
      },
      {
        label: "Elektrotechnik Gruppe 2",
        url: "/files/iue/WiSe_2425/semester_1/1_Sem_Elektrotechnik_Gruppe_2.ics",
      },
      {
        label: "Elektrotechnik Gruppe 3",
        url: "/files/iue/WiSe_2425/semester_1/1_Sem_Elektrotechnik_Gruppe_3.ics",
      },
      {
        label: "Elektrotechnik Gruppe 4",
        url: "/files/iue/WiSe_2425/semester_1/1_Sem_Elektrotechnik_Gruppe_4.ics",
      },
    ]}
  />
  <Accordeon
    title="Informatik"
    updateDate="29.08.2024"
    items={[
      {
        label: "Informatik Gruppe 1",
        url: "/files/iue/WiSe_2425/semester_1/1_Sem_Informatik_Gruppe_1.ics",
      },
      {
        label: "Informatik Gruppe 2",
        url: "/files/iue/WiSe_2425/semester_1/1_Sem_Informatik_Gruppe_2.ics",
      },
      {
        label: "Informatik Gruppe 3",
        url: "/files/iue/WiSe_2425/semester_1/1_Sem_Informatik_Gruppe_3.ics",
      },
      {
        label: "Informatik Gruppe 4",
        url: "/files/iue/WiSe_2425/semester_1/1_Sem_Informatik_Gruppe_4.ics",
      },
      {
        label: "Informatik Gruppe 5",
        url: "/files/iue/WiSe_2425/semester_1/1_Sem_Informatik_Gruppe_5.ics",
      },
      {
        label: "Informatik Gruppe 6",
        url: "/files/iue/WiSe_2425/semester_1/1_Sem_Informatik_Gruppe_6.ics",
      },
    ]}
  />
  <Accordeon
    title="Mechatronik"
    updateDate="29.08.2024"
    items={[
      {
        label: "Mechatronik Gruppe 1",
        url: "/files/iue/WiSe_2425/semester_1/1_Sem_Mechatronik_Gruppe_1.ics",
      },
      {
        label: "Mechatronik Gruppe 2",
        url: "/files/iue/WiSe_2425/semester_1/1_Sem_Mechatronik_Gruppe_2.ics",
      },
      {
        label: "Mechatronik Gruppe 3",
        url: "/files/iue/WiSe_2425/semester_1/1_Sem_Mechatronik_Gruppe_3.ics",
      },
    ]}
  />
  <Accordeon
    title="Medieningenieur/-in"
    updateDate="29.08.2024"
    items={[
      {
        label: "Medieningenieur/-in Gruppe 1",
        url: "/files/iue/WiSe_2425/semester_1/1_Sem_Medieningenieur_Gruppe_1.ics",
      },
      {
        label: "Medieningenieur/-in Gruppe 2",
        url: "/files/iue/WiSe_2425/semester_1/1_Sem_Medieningenieur_Gruppe_2.ics",
      },
      {
        label: "Medieningenieur/-in Gruppe 3",
        url: "/files/iue/WiSe_2425/semester_1/1_Sem_Medieningenieur_Gruppe_3.ics",
      },
      {
        label: "Medieningenieur/-in Gruppe 4",
        url: "/files/iue/WiSe_2425/semester_1/1_Sem_Medieningenieur_Gruppe_4.ics",
      },
    ]}
  />
  <Accordeon
    title="Wirtschaftsingenieurwesen-Elektrotechnik"
    updateDate="11.09.2024"
    items={[
      {
        label:
          "Wirtschaftsingenieurwesen-Elektrotechnik Informationstechnik Gruppe 1",
        url: "/files/iue/WiSe_2425/semester_1/1_Sem_Wirtschaftsingenieurwesen_E_Technik_Gr_1.ics",
      },
      {
        label:
          "Wirtschaftsingenieurwesen-Elektrotechnik Nachhaltige Energiesysteme Gruppe 2",
        url: "/files/iue/WiSe_2425/semester_1/1_Sem_Wirtschaftsingenieurwesen_E_Technik_Gr_2.ics",
      },
      {
        label:
          "Wirtschaftsingenieurwesen-Elektrotechnik Nachhaltige Energiesysteme Gruppe 3",
        url: "/files/iue/WiSe_2425/semester_1/1_Sem_Wirtschaftsingenieurwesen_E_Technik_Gr_3.ics",
      },
    ]}
  />

  <h2>3. Semester</h2>
  <Accordeon
    title="Elektrotechnik"
    updateDate="11.09.2024"
    items={[
      {
        label: "Elektrotechnik Energietechnik Gruppe 1",
        url: "/files/iue/WiSe_2425/semester_3/3_Sem_Elektrotechnik_Energie_Gruppe_1.ics",
      },
      {
        label: "Elektrotechnik Energietechnik Gruppe 2",
        url: "/files/iue/WiSe_2425/semester_3/3_Sem_Elektrotechnik_Energie_Gruppe_2.ics",
      },
      {
        label: "Elektrotechnik Informationstechnik",
        url: "/files/iue/WiSe_2425/semester_3/3_Sem_Elektrotechnik_Informationstechnik.ics",
      },
    ]}
  />
  <Accordeon
    title="Informatik"
    updateDate="29.08.2024"
    items={[
      {
        label: "Informatik Anwedungsentwicklung Gruppe 1",
        url: "/files/iue/WiSe_2425/semester_3/3_Sem_INF_Anwendungsentw_Gr_1.ics",
      },
      {
        label: "Informatik Anwedungsentwicklung Gruppe 2",
        url: "/files/iue/WiSe_2425/semester_3/3_Sem_INF_Anwendungsentw_Gr_2.ics",
      },
      {
        label: "Informatik Künstliche Intelligenz Gruppe 1",
        url: "/files/iue/WiSe_2425/semester_3/3_Sem_INF_Künstliche_Intelligenz_Gr_1.ics",
      },
      {
        label: "Informatik Künstliche Intelligenz Gruppe 2",
        url: "/files/iue/WiSe_2425/semester_3/3_Sem_INF_Künstliche_Intelligenz_Gr_2.ics",
      },
      {
        label: "Informatik Künstliche Intelligenz Gruppe 3",
        url: "/files/iue/WiSe_2425/semester_3/3_Sem_INF_Künstliche_Intelligenz_Gr_3.ics",
      },
    ]}
  />
  <Accordeon
    title="Mechatronik"
    updateDate="29.08.2024"
    items={[
      {
        label: "Mechatronik Gruppe 1",
        url: "/files/iue/WiSe_2425/semester_3/3_Sem_Mechatronik_Gruppe_1.ics",
      },
      {
        label: "Mechatronik Gruppe 2",
        url: "/files/iue/WiSe_2425/semester_3/3_Sem_Mechatronik_Gruppe_2.ics",
      },
      {
        label: "Mechatronik Gruppe 3",
        url: "/files/iue/WiSe_2425/semester_3/3_Sem_Mechatronik_Gruppe_3.ics",
      },
    ]}
  />
  <Accordeon
    title="Medieningenieur/-in"
    updateDate="29.08.2024"
    items={[
      {
        label: "Medieningenieur/-in Gruppe 1",
        url: "/files/iue/WiSe_2425/semester_3/3_Sem_Medieningenieur_Gruppe_1.ics",
      },
      {
        label: "Medieningenieur/-in Gruppe 2",
        url: "/files/iue/WiSe_2425/semester_3/3_Sem_Medieningenieur_Gruppe_2.ics",
      },
      {
        label: "Medieningenieur/-in Gruppe 3",
        url: "/files/iue/WiSe_2425/semester_3/3_Sem_Medieningenieur_Gruppe_3.ics",
      },
      {
        label: "Medieningenieur/-in Gruppe 4",
        url: "/files/iue/WiSe_2425/semester_3/3_Sem_Medieningenieur_Gruppe_4.ics",
      },
      {
        label: "Medieningenieur/-in Gruppe 5",
        url: "/files/iue/WiSe_2425/semester_3/3_Sem_Medieningenieur_Gruppe_5.ics",
      },
    ]}
  />
  <Accordeon
    title="Wirtschaftsingenieurwesen-Elektrotechnik"
    updateDate="11.09.2024"
    items={[
      {
        label: "Wirtschaftsingenieurwesen-Elektrotechnik Informationstechnik",
        url: "/files/iue/WiSe_2425/semester_3/3_Sem_Wing_Informationstechnik.ics",
      },
      {
        label:
          "Wirtschaftsingenieurwesen-Elektrotechnik Nachhaltige Energiesysteme Gruppe 1",
        url: "/files/iue/WiSe_2425/semester_3/3_Sem_Wing_NE_Gruppe_1.ics",
      },
      {
        label:
          "Wirtschaftsingenieurwesen-Elektrotechnik Nachhaltige Energiesysteme Gruppe 2",
        url: "/files/iue/WiSe_2425/semester_3/3_Sem_Wing_NE_Gruppe_2.ics",
      },
    ]}
  />

  <h2>5. Semester</h2>
  <Accordeon
    title="Elektrotechnik"
    updateDate="11.09.2024"
    items={[
      {
        label: "Elektrotechnik Energietechnik Gruppe 1",
        url: "/files/iue/WiSe_2425/semester_5/5_Sem_Elektrotechnik_Energietechnik_Gr_1.ics",
      },
      {
        label: "Elektrotechnik Energietechnik Gruppe 2",
        url: "/files/iue/WiSe_2425/semester_5/5_Sem_Elektrotechnik_Energietechnik_Gr_2.ics",
      },
      {
        label: "Elektrotechnik Kommunikationstechnik",
        url: "/files/iue/WiSe_2425/semester_5/5_Sem_Elektrotechnik_Kommunikation.ics",
      },
      {
        label: "Elektrotechnik Technische Informatik",
        url: "/files/iue/WiSe_2425/semester_5/5_Sem_Elektrotechnik_Technische_Informatik.ics",
      },
    ]}
  />
  <Accordeon
    title="Informatik"
    updateDate="11.09.2024"
    items={[
      {
        label: "Informatik Anwedungsentwicklung Gruppe 1",
        url: "/files/iue/WiSe_2425/semester_5/5_Sem_INF_Anwendungsentw_Gr_1.ics",
      },
      {
        label: "Informatik Anwedungsentwicklung Gruppe 2",
        url: "/files/iue/WiSe_2425/semester_5/5_Sem_INF_Anwendungsentw_Gr_2.ics",
      },
      {
        label: "Informatik Künstliche Intelligenz Gruppe 1",
        url: "/files/iue/WiSe_2425/semester_5/5_Sem_INF_Künstliche_Intelligenz_Gr_1.ics",
      },
      {
        label: "Informatik Künstliche Intelligenz Gruppe 2",
        url: "/files/iue/WiSe_2425/semester_5/5_Sem_INF_Künstliche_Intelligenz_Gr_2.ics",
      },
    ]}
  />
  <Accordeon
    title="Mechatronik"
    updateDate="13.09.2024"
    items={[
      {
        label: "Mechatronik Gruppe 1",
        url: "/files/iue/WiSe_2425/semester_5/5_Sem_Mechatronik_Gruppe_1.ics",
      },
      {
        label: "Mechatronik Gruppe 2",
        url: "/files/iue/WiSe_2425/semester_5/5_Sem_Mechatronik_Gruppe_2.ics",
      },
    ]}
  />
  <Accordeon
    title="Medieningenieur/-in"
    updateDate="29.08.2024"
    items={[
      {
        label: "Medieningenieur/-in Gruppe 1",
        url: "/files/iue/WiSe_2425/semester_5/5_Sem_Medieningenieur_Gruppe_1.ics",
      },
      {
        label: "Medieningenieur/-in Gruppe 2",
        url: "/files/iue/WiSe_2425/semester_5/5_Sem_Medieningenieur_Gruppe_2.ics",
      },
    ]}
  />
  <Accordeon
    title="Wirtschaftsingenieurwesen-Elektrotechnik"
    updateDate="29.08.2024"
    items={[
      {
        label: "Wirtschaftsingenieurwesen-Elektrotechnik Digitage Wirtschaft",
        url: "/files/iue/WiSe_2425/semester_5/5_Sem_Wing_Digitale_Wirtschaft.ics",
      },
      {
        label: "Wirtschaftsingenieurwesen-Elektrotechnik Kommunikation",
        url: "/files/iue/WiSe_2425/semester_5/5_Sem_Wing_Kommunikation.ics",
      },
      {
        label:
          "Wirtschaftsingenieurwesen-Elektrotechnik Nachhaltige Energiesysteme Gruppe 1",
        url: "/files/iue/WiSe_2425/semester_5/5_Sem_Wing_NE_Gruppe_1.ics",
      },
      {
        label:
          "Wirtschaftsingenieurwesen-Elektrotechnik Nachhaltige Energiesysteme Gruppe 2",
        url: "/files/iue/WiSe_2425/semester_5/5_Sem_Wing_NE_Gruppe_2.ics",
      },
    ]}
  />

  <h2>7. Semester</h2>
  <Accordeon
    title="Medieningenieur/-in"
    updateDate="29.08.2024"
    ,
    items={[
      {
        label: "Medieningenieur/-in",
        url: "/files/iue/WiSe_2425/semester_7/7_Sem_Medieningenieur.ics",
      },
    ]}
  />

  <h2>Wahlmodule</h2>
  <Accordeon
    title="Wahlmodule Elektrotechnik"
    updateDate="11.09.2024"
    items={[
      {
        label: "Wahlmodule Energietechnik Teil 1",
        url: "/files/iue/WiSe_2425/wahlmodule/Wahlmodule_Energietechnik_1.ics",
      },
      {
        label: "Wahlmodule Energietechnik Teil 2",
        url: "/files/iue/WiSe_2425/wahlmodule/Wahlmodule_Energietechnik_2.ics",
      },
      {
        label: "Wahlmodule Energietechnik Teil 3",
        url: "/files/iue/WiSe_2425/wahlmodule/Wahlmodule_Energietechnik_3.ics",
      },
    ]}
  />
  <Accordeon
    title="Wahlmodule Informatik"
    updateDate="11.09.2024"
    items={[
      {
        label: "Wahlmodule Informatik Teil 1",
        url: "/files/iue/WiSe_2425/wahlmodule/Wahlmodule_Informatik_1.ics",
      },
      {
        label: "Wahlmodule Informatik Teil 2",
        url: "/files/iue/WiSe_2425/wahlmodule/Wahlmodule_Informatik_2.ics",
      },
      {
        label: "Wahlmodule Informatik Teil 3",
        url: "/files/iue/WiSe_2425/wahlmodule/Wahlmodule_Informatik_3.ics",
      },
    ]}
  />
  <Accordeon
    updateDate="11.09.2024"
    title="Wahlmodule Kommunikationstechnik"
    items={[
      {
        label: "Wahlmodule Kommunikationstechnik Teil 1",
        url: "/files/iue/WiSe_2425/wahlmodule/Wahlmodule_Kommunikation_1.ics",
      },
      {
        label: "Wahlmodule Kommunikationstechnik Teil 2",
        url: "/files/iue/WiSe_2425/wahlmodule/Wahlmodule_Kommunikation_2.ics",
      },
    ]}
  />
  <Accordeon
    title="Wahlmodule Mechatronik"
    updateDate="11.09.2024"
    items={[
      {
        label: "Wahlmodule Mechatronik Teil 1",
        url: "/files/iue/WiSe_2425/wahlmodule/Wahlmodule_Mechatronik_1.ics",
      },
      {
        label: "Wahlmodule Mechatronik Teil 2",
        url: "/files/iue/WiSe_2425/wahlmodule/Wahlmodule_Mechatronik_2.ics",
      },
      {
        label: "Wahlmodule Mechatronik Teil 3",
        url: "/files/iue/WiSe_2425/wahlmodule/Wahlmodule_Mechatronik_3.ics",
      },
    ]}
  />
  <Accordeon
    title="Interdiszipläre Wahlmodule"
    updateDate="29.08.2024"
    items={[
      {
        label: "Interdiszipläre Wahlmodule Teil 1",
        url: "/files/iue/WiSe_2425/wahlmodule/Wahlmodule_interdisziplinäre_Lehre_1.ics",
      },
      {
        label: "Interdiszipläre Wahlmodule Teil 2",
        url: "/files/iue/WiSe_2425/wahlmodule/Wahlmodule_interdisziplinäre_Lehre_2.ics",
      },
    ]}
  />

  <h2>Mastermodule</h2>
  <Accordeon
    title="Master Elektrische Technologien Pflichtmodule"
    updateDate="29.08.2024"
    items={[
      {
        label: "Master Elektrotechnik Pflichtmodule Energietechnik",
        url: "/files/iue/WiSe_2425/master/Master_ET_Pflichtmodule_Vertiefung_Energietechnik.ics",
      },
      {
        label: "Master Elektrotechnik Pflichtmodule Kommunikationstechnik",
        url: "/files/iue/WiSe_2425/master/Master_ET_Pflichtmodule_Vertiefung_Kommunikationstechnik.ics",
      },
      {
        label: "Master Elektrotechnik Pflichtmodule Mechatronik",
        url: "/files/iue/WiSe_2425/master/Master_ET_Pflichtmodule_Vertiefung_Mechatronik.ics",
      },
    ]}
  />
  <Accordeon
    title="Master Elektrische Technologien Wahlmodule"
    updateDate="29.08.2024"
    items={[
      {
        label: "Mastermodule Elektrotechnik Energietechnik",
        url: "/files/iue/WiSe_2425/master/Mastermodule_Energietechnik.ics",
      },
      {
        label: "Mastermodule Elektrotechnik Kommunikationstechnik",
        url: "/files/iue/WiSe_2425/master/Mastermodule_Kommunikationstechnik.ics",
      },
      {
        label: "Mastermodule Elektrotechnik Mechatronik",
        url: "/files/iue/WiSe_2425/master/Mastermodule_Mechatronik.ics",
      },
    ]}
  />
  <Accordeon
    title="Master Computer Science"
    updateDate="29.08.2024"
    items={[
      {
        label:
          "Master Computer Science Compulsory Courses for specification AI",
        url: "/files/iue/WiSe_2425/master/MCS_Compulsory_Courses_for_spezification_AI.ics",
      },
      {
        label:
          "Master Computer Science Compulsory Courses for specification Media",
        url: "/files/iue/WiSe_2425/master/MCS_Compulsory_Courses_for_spezification_Media.ics",
      },
      {
        label:
          "Master Computer Science Information Engineering Elective Courses",
        url: "/files/iue/WiSe_2425/master/Elective_Course_1.ics",
      },
    ]}
  />

  <h2>Dozenten</h2>
  <Accordeon
    title="Alle Lehrenden"
    updateDate="13.09.2024"
    items={[
      {
        label: "A. Neumann",
        url: "/files/iue/WiSe_2425/dozenten/A_Neumann,_A.ics",
      },
      {
        label: "A. Raschke",
        url: "/files/iue/WiSe_2425/dozenten/A_Raschke.ics",
      },
      { label: "C. Brauer", url: "/files/iue/WiSe_2425/dozenten/C_Brauer.ics" },
      {
        label: "C. Glüsing",
        url: "/files/iue/WiSe_2425/dozenten/C_Glüsing.ics",
      },
      { label: "C. Kopka", url: "/files/iue/WiSe_2425/dozenten/C_Kopka.ics" },
      {
        label: "C. P. Piontke",
        url: "/files/iue/WiSe_2425/dozenten/C_P_Piontke.ics",
      },
      {
        label: "C. Schwatlo",
        url: "/files/iue/WiSe_2425/dozenten/C_Schwatlo.ics",
      },
      { label: "E. Moritz", url: "/files/iue/WiSe_2425/dozenten/E_Moritz.ics" },
      {
        label: "E. Petersen",
        url: "/files/iue/WiSe_2425/dozenten/E_Petersen.ics",
      },
      { label: "F. Bähnck", url: "/files/iue/WiSe_2425/dozenten/F_Bähnck.ics" },
      { label: "F. Caspar", url: "/files/iue/WiSe_2425/dozenten/F_Caspar.ics" },
      { label: "G. Manske", url: "/files/iue/WiSe_2425/dozenten/G_Manske.ics" },
      { label: "Hr. Gripp", url: "/files/iue/WiSe_2425/dozenten/Hr_Gripp.ics" },
      {
        label: "Hr. Richter",
        url: "/files/iue/WiSe_2425/dozenten/Hr_Richter.ics",
      },
      {
        label: "Hr. Sachse",
        url: "/files/iue/WiSe_2425/dozenten/Hr_Sachse.ics",
      },
      {
        label: "Hr. Schmagold",
        url: "/files/iue/WiSe_2425/dozenten/Hr_Schmagold.ics",
      },
      { label: "H. Eilers", url: "/files/iue/WiSe_2425/dozenten/H_Eilers.ics" },
      { label: "H. Mohs", url: "/files/iue/WiSe_2425/dozenten/H_Mohs.ics" },
      {
        label: "H. Oenings",
        url: "/files/iue/WiSe_2425/dozenten/H_Oenings.ics",
      },
      { label: "J. Angres", url: "/files/iue/WiSe_2425/dozenten/J_Angres.ics" },
      {
        label: "J. Dittmann-Wunderlich",
        url: "/files/iue/WiSe_2425/dozenten/J_Dittmann_Wunderlich.ics",
      },
      {
        label: "J. Hoffmüller",
        url: "/files/iue/WiSe_2425/dozenten/J_Hoffmüller.ics",
      },
      {
        label: "J. Kohlmorgen",
        url: "/files/iue/WiSe_2425/dozenten/J_Kohlmorgen.ics",
      },
      {
        label: "J. Nowitzki",
        url: "/files/iue/WiSe_2425/dozenten/J_Nowitzki.ics",
      },
      { label: "J. Rähse", url: "/files/iue/WiSe_2425/dozenten/J_Rähse.ics" },
      {
        label: "K. Hinkelmann",
        url: "/files/iue/WiSe_2425/dozenten/K_Hinkelmann.ics",
      },
      {
        label: "M. Ignatov",
        url: "/files/iue/WiSe_2425/dozenten/M_Ignatov.ics",
      },
      { label: "M. Menzel", url: "/files/iue/WiSe_2425/dozenten/M_Menzel.ics" },
      { label: "M. Riedel", url: "/files/iue/WiSe_2425/dozenten/M_Riedel.ics" },
      {
        label: "M. Senkbeil",
        url: "/files/iue/WiSe_2425/dozenten/M_Senkbeil.ics",
      },
      {
        label: "M. Siegert",
        url: "/files/iue/WiSe_2425/dozenten/M_Siegert.ics",
      },
      {
        label: "M. Sieloff",
        url: "/files/iue/WiSe_2425/dozenten/M_Sieloff.ics",
      },
      {
        label: "M. Teichmann",
        url: "/files/iue/WiSe_2425/dozenten/M_Teichmann.ics",
      },
      {
        label: "Prof. Acker",
        url: "/files/iue/WiSe_2425/dozenten/Prof_Acker.ics",
      },
      {
        label: "Prof. Aßmuth",
        url: "/files/iue/WiSe_2425/dozenten/Prof_Aßmuth.ics",
      },
      {
        label: "Prof. Badri-Höher",
        url: "/files/iue/WiSe_2425/dozenten/Prof_Badri_Höher.ics",
      },
      {
        label: "Prof. Bicakci",
        url: "/files/iue/WiSe_2425/dozenten/Prof_Bicakci.ics",
      },
      {
        label: "Prof. Brauer",
        url: "/files/iue/WiSe_2425/dozenten/Prof_Brauer.ics",
      },
      {
        label: "Prof. Ehlers",
        url: "/files/iue/WiSe_2425/dozenten/Prof_Ehlers.ics",
      },
      {
        label: "Prof. Hennig",
        url: "/files/iue/WiSe_2425/dozenten/Prof_Hennig.ics",
      },
      {
        label: "Prof. Immel",
        url: "/files/iue/WiSe_2425/dozenten/Prof_Immel.ics",
      },
      {
        label: "Prof. Jacobsen",
        url: "/files/iue/WiSe_2425/dozenten/Prof_Jacobsen.ics",
      },
      {
        label: "Prof. Jetzek",
        url: "/files/iue/WiSe_2425/dozenten/Prof_Jetzek.ics",
      },
      {
        label: "Prof. Kallies",
        url: "/files/iue/WiSe_2425/dozenten/Prof_Kallies.ics",
      },
      {
        label: "Prof. Krueger",
        url: "/files/iue/WiSe_2425/dozenten/Prof_Krueger.ics",
      },
      {
        label: "Prof. Lebert",
        url: "/files/iue/WiSe_2425/dozenten/Prof_Lebert.ics",
      },
      {
        label: "Prof. Luczak",
        url: "/files/iue/WiSe_2425/dozenten/Prof_Luczak.ics",
      },
      {
        label: "Prof. Lüssem",
        url: "/files/iue/WiSe_2425/dozenten/Prof_Lüssem.ics",
      },
      {
        label: "Prof. Manzke",
        url: "/files/iue/WiSe_2425/dozenten/Prof_Manzke.ics",
      },
      {
        label: "Prof. Mattes",
        url: "/files/iue/WiSe_2425/dozenten/Prof_Mattes.ics",
      },
      {
        label: "Prof. Mielke",
        url: "/files/iue/WiSe_2425/dozenten/Prof_Mielke.ics",
      },
      {
        label: "Prof. Neumann",
        url: "/files/iue/WiSe_2425/dozenten/Prof_Neumann.ics",
      },
      {
        label: "Prof. Osterwald",
        url: "/files/iue/WiSe_2425/dozenten/Prof_Osterwald.ics",
      },
      {
        label: "Prof. Patz",
        url: "/files/iue/WiSe_2425/dozenten/Prof_Patz.ics",
      },
      {
        label: "Prof. Petersen",
        url: "/files/iue/WiSe_2425/dozenten/Prof_Petersen.ics",
      },
      {
        label: "Prof. Prieß",
        url: "/files/iue/WiSe_2425/dozenten/Prof_Prieß.ics",
      },
      {
        label: "Prof. Prochnow",
        url: "/files/iue/WiSe_2425/dozenten/Prof_Prochnow.ics",
      },
      {
        label: "Prof. Rinder",
        url: "/files/iue/WiSe_2425/dozenten/Prof_Rinder.ics",
      },
      {
        label: "Prof. Schmidt-Rethmeier",
        url: "/files/iue/WiSe_2425/dozenten/Prof_Schmidt_Rethmeier.ics",
      },
      {
        label: "Prof. Schramm",
        url: "/files/iue/WiSe_2425/dozenten/Prof_Schramm.ics",
      },
      {
        label: "Prof. Schümann",
        url: "/files/iue/WiSe_2425/dozenten/Prof_Schümann.ics",
      },
      {
        label: "Prof. Stock",
        url: "/files/iue/WiSe_2425/dozenten/Prof_Stock.ics",
      },
      {
        label: "Prof. Weber",
        url: "/files/iue/WiSe_2425/dozenten/Prof_Weber.ics",
      },
      {
        label: "Prof. Wehrend",
        url: "/files/iue/WiSe_2425/dozenten/Prof_Wehrend.ics",
      },
      {
        label: "Prof. Woelk",
        url: "/files/iue/WiSe_2425/dozenten/Prof_Woelk.ics",
      },
      {
        label: "Prof. Wree",
        url: "/files/iue/WiSe_2425/dozenten/Prof_Wree.ics",
      },
      {
        label: "P. Farshidfar",
        url: "/files/iue/WiSe_2425/dozenten/P_Farshidfar.ics",
      },
      {
        label: "R. Hellmund",
        url: "/files/iue/WiSe_2425/dozenten/R_Hellmund.ics",
      },
      {
        label: "R. Raßmann",
        url: "/files/iue/WiSe_2425/dozenten/R_Raßmann.ics",
      },
      { label: "S. Herzog", url: "/files/iue/WiSe_2425/dozenten/S_Herzog.ics" },
      { label: "S. Koß", url: "/files/iue/WiSe_2425/dozenten/S_Koß.ics" },
      {
        label: "S. Schmarbeck",
        url: "/files/iue/WiSe_2425/dozenten/S_Schmarbeck.ics",
      },
      { label: "T. Greve", url: "/files/iue/WiSe_2425/dozenten/T_Greve.ics" },
      { label: "T. Rixen", url: "/files/iue/WiSe_2425/dozenten/T_Rixen.ics" },
      { label: "T. Wilts", url: "/files/iue/WiSe_2425/dozenten/T_Wilts.ics" },
      {
        label: "Y. Kocer (FB-W)",
        url: "/files/iue/WiSe_2425/dozenten/Y_Kocer_(FB_W).ics",
      },
    ]}
  />
</Layout>
