---
import Layout from "../layouts/Layout.astro";
import Accordeon from "../components/Accordeon.astro";
import Disclaimer from "../components/Disclaimer.astro";
---

<Layout title="Informatik und Elektrotechnik">
  <Disclaimer />

 
  <h2>1. Semester</h2>
  <Accordeon
    title="Elektrotechnik"
    updateDate="29.08.2025"
    items={[
      {
        label: "Elektrotechnik Gruppe 1",
        url: "/files/iue/WiSe_2526/semester_1/1_Sem_Elektrotechnik_Gruppe_1.ics",
      },
      {
        label: "Elektrotechnik Gruppe 2",
        url: "/files/iue/WiSe_2526/semester_1/1_Sem_Elektrotechnik_Gruppe_2.ics",
      },
      {
        label: "Elektrotechnik Gruppe 3",
        url: "/files/iue/WiSe_2526/semester_1/1_Sem_Elektrotechnik_Gruppe_3.ics",
      },
      {
        label: "Elektrotechnik Gruppe 4",
        url: "/files/iue/WiSe_2526/semester_1/1_Sem_Elektrotechnik_Gruppe_4.ics",
      },
    ]}
  />
  <Accordeon
    title="Informatik"
    updateDate="29.08.2025"
    items={[
      {
        label: "Informatik Gruppe 1",
        url: "/files/iue/WiSe_2526/semester_1/1_Sem_Informatik_Gruppe_1.ics",
      },
      {
        label: "Informatik Gruppe 2",
        url: "/files/iue/WiSe_2526/semester_1/1_Sem_Informatik_Gruppe_2.ics",
      },
      {
        label: "Informatik Gruppe 3",
        url: "/files/iue/WiSe_2526/semester_1/1_Sem_Informatik_Gruppe_3.ics",
      },
      {
        label: "Informatik Gruppe 4",
        url: "/files/iue/WiSe_2526/semester_1/1_Sem_Informatik_Gruppe_4.ics",
      },
      {
        label: "Informatik Gruppe 5",
        url: "/files/iue/WiSe_2526/semester_1/1_Sem_Informatik_Gruppe_5.ics",
      },
    ]}
  />
  <Accordeon
    title="Mechatronik"
    updateDate="29.08.2025"
    items={[
      {
        label: "Mechatronik Gruppe 1",
        url: "/files/iue/WiSe_2526/semester_1/1_Sem_Mechatronik_Gruppe_1.ics",
      },
      {
        label: "Mechatronik Gruppe 2",
        url: "/files/iue/WiSe_2526/semester_1/1_Sem_Mechatronik_Gruppe_2.ics",
      },
      {
        label: "Mechatronik Gruppe 3",
        url: "/files/iue/WiSe_2526/semester_1/1_Sem_Mechatronik_Gruppe_3.ics",
      },
    ]}
  />
  <Accordeon
    title="Medieningenieur/-in"
    updateDate="21.09.2025"
    items={[
      {
        label: "Medieningenieur/-in Gruppe 1",
        url: "/files/iue/WiSe_2526/semester_1/1_Sem_Medieningenieur_Gruppe_1.ics",
      },
      {
        label: "Medieningenieur/-in Gruppe 2",
        url: "/files/iue/WiSe_2526/semester_1/1_Sem_Medieningenieur_Gruppe_2.ics",
      },
      {
        label: "Medieningenieur/-in Gruppe 3",
        url: "/files/iue/WiSe_2526/semester_1/1_Sem_Medieningenieur_Gruppe_3.ics",
      },
    ]}
  />
  <Accordeon
    title="Wirtschaftsingenieurwesen-Elektrotechnik"
    updateDate="29.08.2025"
    items={[
      {
        label:
          "Wirtschaftsingenieurwesen-Elektrotechnik Gruppe 1",
        url: "/files/iue/WiSe_2526/semester_1/1_Sem_Wirtschaftsingenieurwesen_E_Technik_Gr_1.ics",
      },
      {
        label:
          "Wirtschaftsingenieurwesen-Elektrotechnik Gruppe 2",
        url: "/files/iue/WiSe_2526/semester_1/1_Sem_Wirtschaftsingenieurwesen_E_Technik_Gr_2.ics",
      },
      {
        label:
          "Wirtschaftsingenieurwesen-Elektrotechnik Gruppe 3",
        url: "/files/iue/WiSe_2526/semester_1/1_Sem_Wirtschaftsingenieurwesen_E_Technik_Gr_3.ics",
      },
    ]}
  />

  <h2>3. Semester</h2>
  <Accordeon
    title="Elektrotechnik"
    updateDate="29.08.2025"
    items={[
      {
        label: "Elektrotechnik Energietechnik Gruppe 1",
        url: "/files/iue/WiSe_2526/semester_3/3_Sem_Elektrotechnik_Energie_Gr_1.ics",
      },
      {
        label: "Elektrotechnik Energietechnik Gruppe 2",
        url: "/files/iue/WiSe_2526/semester_3/3_Sem_Elektrotechnik_Energie_Gr_2.ics",
      },
      {
        label: "Elektrotechnik Informationstechnik Gruppe 1",
        url: "/files/iue/WiSe_2526/semester_3/3_Sem_Elektrotechnik_Informationstechnik_Gruppe_1.ics",
      },
      {
        label: "Elektrotechnik Informationstechnik Gruppe 2",
        url: "/files/iue/WiSe_2526/semester_3/3_Sem_Elektrotechnik_Informationstechnik_Gruppe_2.ics",
      },
    ]}
  />
  <Accordeon
    title="Informatik"
    updateDate="21.09.2025"
    items={[
      {
        label: "Informatik Anwedungsentwicklung Gruppe 1",
        url: "/files/iue/WiSe_2526/semester_3/3_Sem_INF_Anwendungsentw_Gr_1.ics",
      },
      {
        label: "Informatik Anwedungsentwicklung Gruppe 2",
        url: "/files/iue/WiSe_2526/semester_3/3_Sem_INF_Anwendungsentw_Gr_2.ics",
      },
      {
        label: "Informatik Anwedungsentwicklung Gruppe 3",
        url: "/files/iue/WiSe_2526/semester_3/3_Sem_INF_Anwendungsentw_Gr_3.ics",
      },
      {
        label: "Informatik Künstliche Intelligenz Gruppe 1",
        url: "/files/iue/WiSe_2526/semester_3/3_Sem_INF_Künstliche_Intelligenz_Gr_1.ics",
      },
      {
        label: "Informatik Künstliche Intelligenz Gruppe 2",
        url: "/files/iue/WiSe_2526/semester_3/3_Sem_INF_Künstliche_Intelligenz_Gr_2.ics",
      },
      {
        label: "Informatik Künstliche Intelligenz Gruppe 3",
        url: "/files/iue/WiSe_2526/semester_3/3_Sem_INF_Künstliche_Intelligenz_Gr_3.ics",
      },
    ]}
  />
  <Accordeon
    title="Mechatronik"
    updateDate="29.08.2025"
    items={[
      {
        label: "Mechatronik Gruppe 1",
        url: "/files/iue/WiSe_2526/semester_3/3_Sem_Mechatronik_Gruppe_1.ics",
      },
      {
        label: "Mechatronik Gruppe 2",
        url: "/files/iue/WiSe_2526/semester_3/3_Sem_Mechatronik_Gruppe_2.ics",
      },
      {
        label: "Mechatronik Gruppe 3",
        url: "/files/iue/WiSe_2526/semester_3/3_Sem_Mechatronik_Gruppe_3.ics",
      },
      {
        label: "Mechatronik Gruppe 4",
        url: "/files/iue/WiSe_2526/semester_3/3_Sem_Mechatronik_Gruppe_4.ics",
      },
    ]}
  />
  <Accordeon
    title="Medieningenieur/-in"
    updateDate="21.09.2025"
    items={[
      {
        label: "Medieningenieur/-in Gruppe 1",
        url: "/files/iue/WiSe_2526/semester_3/3_Sem_Medieningenieur_Gruppe_1.ics",
      },
      {
        label: "Medieningenieur/-in Gruppe 2",
        url: "/files/iue/WiSe_2526/semester_3/3_Sem_Medieningenieur_Gruppe_2.ics",
      },
      {
        label: "Medieningenieur/-in Gruppe 3",
        url: "/files/iue/WiSe_2526/semester_3/3_Sem_Medieningenieur_Gruppe_3.ics",
      },
      {
        label: "Medieningenieur/-in Gruppe 4",
        url: "/files/iue/WiSe_2526/semester_3/3_Sem_Medieningenieur_Gruppe_4.ics",
      },
    ]}
  />
  <Accordeon
    title="Wirtschaftsingenieurwesen-Elektrotechnik"
    updateDate="29.08.2025"
    items={[
      {
        label: "Wirtschaftsingenieurwesen-Elektrotechnik Informationstechnik",
        url: "/files/iue/WiSe_2526/semester_3/3_Sem_Wing_Informationstechnik.ics",
      },
      {
        label:
          "Wirtschaftsingenieurwesen-Elektrotechnik Nachhaltige Energiesysteme Gruppe 1",
        url: "/files/iue/WiSe_2526/semester_3/3_Sem_Wing_N_Energie_Gruppe_1.ics",
      },
      {
        label:
          "Wirtschaftsingenieurwesen-Elektrotechnik Nachhaltige Energiesysteme Gruppe 2",
        url: "/files/iue/WiSe_2526/semester_3/3_Sem_Wing_N_Energie_Gruppe_2.ics",
      },
    ]}
  />

  <h2>5. Semester</h2>
  <Accordeon
    title="Elektrotechnik"
    updateDate="21.09.2025"
    items={[
      {
        label: "Elektrotechnik Energietechnik Gruppe 1",
        url: "/files/iue/WiSe_2526/semester_5/5_Sem_Elektrotechnik_Energietechnik_Gr_1.ics",
      },
      {
        label: "Elektrotechnik Energietechnik Gruppe 2",
        url: "/files/iue/WiSe_2526/semester_5/5_Sem_Elektrotechnik_Energietechnik_Gr_2.ics",
      },
      {
        label: "Elektrotechnik Energietechnik Gruppe 3",
        url: "/files/iue/WiSe_2526/semester_5/5_Sem_Elektrotechnik_Energietechnik_Gr_3.ics",
      },
      {
        label: "Elektrotechnik Informationstechnik",
        url: "/files/iue/WiSe_2526/semester_5/5_Sem_Elektrotechnik_Informationstechnik.ics",
      },
    ]}
  />
  <Accordeon
    title="Informatik"
    updateDate="21.09.2025"
    items={[
      {
        label: "Informatik Anwedungsentwicklung Gruppe 1",
        url: "/files/iue/WiSe_2526/semester_5/5_Sem_INF_Anwendungsentw_Gr_1.ics",
      },
      {
        label: "Informatik Anwedungsentwicklung Gruppe 2",
        url: "/files/iue/WiSe_2526/semester_5/5_Sem_INF_Anwendungsentw_Gr_2.ics",
      },
      {
        label: "Informatik Künstliche Intelligenz Gruppe 1",
        url: "/files/iue/WiSe_2526/semester_5/5_Sem_INF_Künstliche_Intelligenz_Gr_1.ics",
      },
      {
        label: "Informatik Künstliche Intelligenz Gruppe 2",
        url: "/files/iue/WiSe_2526/semester_5/5_Sem_INF_Künstliche_Intelligenz_Gr_2.ics",
      },
      {
        label: "Informatik Künstliche Intelligenz Gruppe 3",
        url: "/files/iue/WiSe_2526/semester_5/5_Sem_INF_Künstliche_Intelligenz_Gr_3.ics",
      },
    ]}
  />
  <Accordeon
    title="Mechatronik"
    updateDate="21.09.2025"
    items={[
      {
        label: "Mechatronik Gruppe 1",
        url: "/files/iue/WiSe_2526/semester_5/5_Sem_Mechatronik_Gruppe_1.ics",
      },
      {
        label: "Mechatronik Gruppe 2",
        url: "/files/iue/WiSe_2526/semester_5/5_Sem_Mechatronik_Gruppe_2.ics",
      },
    ]}
  />
  <Accordeon
    title="Medieningenieur/-in"
    updateDate="29.08.2025"
    items={[
      {
        label: "Medieningenieur/-in Gruppe 1",
        url: "/files/iue/WiSe_2526/semester_5/5_Sem_Medieningenieur_Gruppe_1.ics",
      },
      {
        label: "Medieningenieur/-in Gruppe 2",
        url: "/files/iue/WiSe_2526/semester_5/5_Sem_Medieningenieur_Gruppe_2.ics",
      },
      {
        label: "Medieningenieur/-in Gruppe 3",
        url: "/files/iue/WiSe_2526/semester_5/5_Sem_Medieningenieur_Gruppe_3.ics",
      },
      {
        label: "Medieningenieur/-in Gruppe 4",
        url: "/files/iue/WiSe_2526/semester_5/5_Sem_Medieningenieur_Gruppe_4.ics",
      },
    ]}
  />
  <Accordeon
    title="Wirtschaftsingenieurwesen-Elektrotechnik"
    updateDate="29.08.2025"
    items={[
      {
        label: "Wirtschaftsingenieurwesen-Elektrotechnik Informationstechnik",
        url: "/files/iue/WiSe_2526/semester_5/5_Sem_Wing_Informationstechnik.ics",
      },
      {
        label:
          "Wirtschaftsingenieurwesen-Elektrotechnik Nachhaltige Energiesysteme Gruppe 1",
        url: "/files/iue/WiSe_2526/semester_5/5_Sem_Wing_N_Energie_Gruppe_1.ics",
      },
      {
        label:
          "Wirtschaftsingenieurwesen-Elektrotechnik Nachhaltige Energiesysteme Gruppe 2",
        url: "/files/iue/WiSe_2526/semester_5/5_Sem_Wing_N_Energie_Gruppe_2.ics",
      },
    ]}
  />

  <h2>7. Semester</h2>
  <Accordeon
    title="Medieningenieur/-in"
    updateDate="29.08.2025"
    items={[
      {
        label: "Medieningenieur/-in",
        url: "/files/iue/SoSe_25/semester_7/7_Sem_Medieningenieur.ics",
      },
    ]}
  />

  <h2>Wahlmodule</h2>
  <Accordeon
    title="Wahlmodule Energietechik"
    updateDate="29.08.2025"
    items={[
      {
        label: "Wahlmodule Energietechnik Teil 1",
        url: "/files/iue/WiSe_2526/wahlmodule/Wahlmodule_Energietechnik_1.ics",
      },
      {
        label: "Wahlmodule Energietechnik Teil 2",
        url: "/files/iue/WiSe_2526/wahlmodule/Wahlmodule_Energietechnik_2.ics",
      },
      {
        label: "Wahlmodule  Energietechnik Teil 3",
        url: "/files/iue/WiSe_2526/wahlmodule/Wahlmodule_Energietechnik_3.ics",
      },
    ]}
  />
  <Accordeon
    title="Wahlmodule Informatik"
    updateDate="21.09.2025"
    items={[
      {
        label: "Wahlmodule Informatik Teil 1",
        url: "/files/iue/WiSe_2526/wahlmodule/Wahlmodule_Informatik_1.ics",
      },
      {
        label: "Wahlmodule Informatik Teil 2",
        url: "/files/iue/WiSe_2526/wahlmodule/Wahlmodule_Informatik_2.ics",
      },
      {
        label: "Wahlmodule Informatik Teil 3",
        url: "/files/iue/WiSe_2526/wahlmodule/Wahlmodule_Informatik_3.ics",
      },
      {
        label: "Wahlmodule Informatik Teil 4",
        url: "/files/iue/WiSe_2526/wahlmodule/Wahlmodule_Informatik_4.ics",
      },
    ]}
  />
  <Accordeon
    updateDate="21.09.2025"
    title="Wahlmodule Informationstechnik"
    items={[
      {
        label: "Wahlmodule Informationstechnik Teil 1",
        url: "/files/iue/WiSe_2526/wahlmodule/Wahlmodule_Informationstechnik_1.ics",
      },
      {
        label: "Wahlmodule Informationstechnik Teil 2",
        url: "/files/iue/WiSe_2526/wahlmodule/Wahlmodule_Informationstechnik_2.ics",
      },
    ]}
  />
  <Accordeon
    title="Wahlmodule Mechatronik"
    updateDate="29.08.2025"
    items={[
      {
        label: "Wahlmodule Mechatronik Teil 1",
        url: "/files/iue/WiSe_2526/wahlmodule/Wahlmodule_Mechatronik_1.ics",
      },
      {
        label: "Wahlmodule Mechatronik Teil 2",
        url: "/files/iue/WiSe_2526/wahlmodule/Wahlmodule_Mechatronik_2.ics",
      },
    ]}
  />
  <Accordeon
    title="Wahlmodule Medieningenieur/-in"
    updateDate="29.08.2025"
    items={[
      {
        label: "Wahlmodule Medieningenieur/-in Teil 1",
        url: "/files/iue/WiSe_2526/wahlmodule/Wahlmodule_Mediening_1.ics",
      },
      {
        label: "Wahlmodule Medieningenieur/-in Teil 2",
        url: "/files/iue/WiSe_2526/wahlmodule/Wahlmodule_Mediening_2.ics",
      },
    ]}
  />
  <Accordeon
    title="Interdiszipläre Wahlmodule"
    updateDate="21.09.2025"
    items={[
      {
        label: "Interdiszipläre Wahlmodule Teil 1",
        url: "/files/iue/WiSe_2526/wahlmodule/Wahlmodule_interdisziplinäre_Lehre_1.ics",
      },
    ]}
  />

  <h2>Mastermodule</h2>
  <Accordeon
    title="Master Elektrische Technologien Pflichtmodule"
    updateDate="29.08.2025"
    items={[
      {
        label: "Master Elektrische Technologien Pflichtmodule Vertiefung Energietechnik",
        url: "/files/iue/WiSe_2526/master/Master_ET_Pflichtmodule_Vertiefung_Energietechnik.ics",
      },
      {
        label: "Master Elektrische Technologien Pflichtmodule Vertiefung Kommunikationstechnik",
        url: "/files/iue/WiSe_2526/master/Master_ET_Pflichtmodule_Vertiefung_Kommunikationstechnik.ics",
      },
      {
        label: "Master Elektrische Technologien Pflichtmodule Vertiefung Mechatronik",
        url: "/files/iue/WiSe_2526/master/Master_ET_Pflichtmodule_Vertiefung_Mechatronik.ics",
      },
    ]}
  />
  <Accordeon
    title="Master Elektrische Technologien Wahlmodule"
    updateDate="21.09.2025"
    items={[
      {
        label: "Mastermodule Elektrische Technologien Energietechnik",
        url: "/files/iue/WiSe_2526/master/Mastermodule_Energietechnik.ics",
      },
      {
        label: "Mastermodule Elektrische Technologien Kommunikationstechnik",
        url: "/files/iue/WiSe_2526/master/Mastermodule_Kommunikationstechnik.ics",
      },
      {
        label: "Mastermodule Elektrische Technologien Mechatronik",
        url: "/files/iue/WiSe_2526/master/Mastermodule_Mechatronik.ics",
      },
    ]}
  />
  <Accordeon
    title="Master Computer Science / Master Information Engineering"
    updateDate="21.09.2025"
    items={[
      {
        label:
          "Master Computer Science / Master Information Engineering Compulsory Courses for AI",
        url: "/files/iue/WiSe_2526/master/MCS_Compulsory_Courses_for_specification_AI.ics",
      },
      {
        label:
          "Master Computer Science / Master Information Engineering Compulsory Courses for Media",
        url: "/files/iue/WiSe_2526/master/MCS_Compulsory_Courses_for_specification_Media.ics",
      },
      {
        label:
          "Master Computer Science / Master Information Engineering Elective Courses Part 1",
        url: "/files/iue/WiSe_2526/master/MCS_Elective_Course_1.ics",
      },
      {
        label:
          "Master Computer Science / Master Information Engineering Elective Courses Part 2",
        url: "/files/iue/WiSe_2526/master/MCS_Elective_Course_2.ics",
      },
    ]}
  />

  <h2>Dozenten</h2>
  <Accordeon
    title="Alle Lehrenden"
    updateDate="21.09.2025"
    items={[
      {label: "A. Kinny", url: "/files/iue/WiSe_2526/dozenten/A_Kinny.ics"},
      {label: "A. Neumann", url: "/files/iue/WiSe_2526/dozenten/A_Neumann.ics"},
      {label: "C. Brauer", url: "/files/iue/WiSe_2526/dozenten/C_Brauer.ics"},
      {label: "C. Glüsing", url: "/files/iue/WiSe_2526/dozenten/C_Glüsing.ics"},
      {label: "C. Kopka", url: "/files/iue/WiSe_2526/dozenten/C_Kopka.ics"},
      {label: "C. P. Piontke", url: "/files/iue/WiSe_2526/dozenten/C_P_Piontke.ics"},
      {label: "C. Schwatlo", url: "/files/iue/WiSe_2526/dozenten/C_Schwatlo.ics"},
      {label: "E. Moritz", url: "/files/iue/WiSe_2526/dozenten/E_Moritz.ics"},
      {label: "E. Petersen", url: "/files/iue/WiSe_2526/dozenten/E_Petersen.ics"},
      {label: "F. Caspar", url: "/files/iue/WiSe_2526/dozenten/F_Caspar.ics"},
      {label: "F. Jürgens", url: "/files/iue/WiSe_2526/dozenten/F_Jürgens.ics"},
      {label: "G. Gesell", url: "/files/iue/WiSe_2526/dozenten/G_Gesell.ics"},
      {label: "G. Werner", url: "/files/iue/WiSe_2526/dozenten/G_Werner.ics"},
      {label: "Hr. Gripp", url: "/files/iue/WiSe_2526/dozenten/Hr_Gripp.ics"},
      {label: "Hr. Sachse", url: "/files/iue/WiSe_2526/dozenten/Hr_Sachse.ics"},
      {label: "Hr. Schmagold", url: "/files/iue/WiSe_2526/dozenten/Hr_Schmagold.ics"},
      {label: "H. Folkerts", url: "/files/iue/WiSe_2526/dozenten/H_Folkerts.ics"},
      {label: "H. Mohs", url: "/files/iue/WiSe_2526/dozenten/H_Mohs.ics"},
      {label: "H. Oenings", url: "/files/iue/WiSe_2526/dozenten/H_Oenings.ics"},
      {label: "J. Angres", url: "/files/iue/WiSe_2526/dozenten/J_Angres.ics"},
      {label: "J. Dittmann. Wunderlich", url: "/files/iue/WiSe_2526/dozenten/J_Dittmann_Wunderlich.ics"},
      {label: "J. Hoffmüller", url: "/files/iue/WiSe_2526/dozenten/J_Hoffmüller.ics"},
      {label: "J. Hoffmüller. 2", url: "/files/iue/WiSe_2526/dozenten/J_Hoffmüller_2.ics"},
      {label: "J. Kohlmorgen", url: "/files/iue/WiSe_2526/dozenten/J_Kohlmorgen.ics"},
      {label: "J. Nowitzki", url: "/files/iue/WiSe_2526/dozenten/J_Nowitzki.ics"},
      {label: "J. Rähse", url: "/files/iue/WiSe_2526/dozenten/J_Rähse.ics"},
      {label: "J. Schiwy", url: "/files/iue/WiSe_2526/dozenten/J_Schiwy.ics"},
      {label: "K. Hartmann", url: "/files/iue/WiSe_2526/dozenten/K_Hartmann.ics"},
      {label: "K. Hinkelmann", url: "/files/iue/WiSe_2526/dozenten/K_Hinkelmann.ics"},
      {label: "L. Dürrer", url: "/files/iue/WiSe_2526/dozenten/L_Dürrer.ics"},
      {label: "L. Eggers. (HiWi)", url: "/files/iue/WiSe_2526/dozenten/L_Eggers_(HiWi).ics"},
      {label: "M. Ali. Algbara", url: "/files/iue/WiSe_2526/dozenten/M_Ali_Algbara.ics"},
      {label: "M. Ignatov", url: "/files/iue/WiSe_2526/dozenten/M_Ignatov.ics"},
      {label: "M. Menzel", url: "/files/iue/WiSe_2526/dozenten/M_Menzel.ics"},
      {label: "M. Pöpper", url: "/files/iue/WiSe_2526/dozenten/M_Pöpper.ics"},
      {label: "M. Riedel", url: "/files/iue/WiSe_2526/dozenten/M_Riedel.ics"},
      {label: "M. Senkbeil", url: "/files/iue/WiSe_2526/dozenten/M_Senkbeil.ics"},
      {label: "M. Sieloff", url: "/files/iue/WiSe_2526/dozenten/M_Sieloff.ics"},
      {label: "M. Teichmann", url: "/files/iue/WiSe_2526/dozenten/M_Teichmann.ics"},
      {label: "M. Voß", url: "/files/iue/WiSe_2526/dozenten/M_Voß.ics"},
      {label: "Prof. Acker", url: "/files/iue/WiSe_2526/dozenten/Prof_Acker.ics"},
      {label: "Prof. Aßmuth", url: "/files/iue/WiSe_2526/dozenten/Prof_Aßmuth.ics"},
      {label: "Prof. Badri. Höher", url: "/files/iue/WiSe_2526/dozenten/Prof_Badri_Höher.ics"},
      {label: "Prof. Behrendt-Bicakci", url: "/files/iue/WiSe_2526/dozenten/Prof_Behrendt_Bicakci.ics"},
      {label: "Prof. Brauer", url: "/files/iue/WiSe_2526/dozenten/Prof_Brauer.ics"},
      {label: "Prof. Ehlers", url: "/files/iue/WiSe_2526/dozenten/Prof_Ehlers.ics"},
      {label: "Prof. Finkemeyer. (FB. M)", url: "/files/iue/WiSe_2526/dozenten/Prof_Finkemeyer_(FB_M).ics"},
      {label: "Prof. Hennig", url: "/files/iue/WiSe_2526/dozenten/Prof_Hennig.ics"},
      {label: "Prof. Immel", url: "/files/iue/WiSe_2526/dozenten/Prof_Immel.ics"},
      {label: "Prof. Jacobsen", url: "/files/iue/WiSe_2526/dozenten/Prof_Jacobsen.ics"},
      {label: "Prof. Jetzek", url: "/files/iue/WiSe_2526/dozenten/Prof_Jetzek.ics"},
      {label: "Prof. Kallies", url: "/files/iue/WiSe_2526/dozenten/Prof_Kallies.ics"},
      {label: "Prof. Krueger", url: "/files/iue/WiSe_2526/dozenten/Prof_Krueger.ics"},
      {label: "Prof. Lebert", url: "/files/iue/WiSe_2526/dozenten/Prof_Lebert.ics"},
      {label: "Prof. Luczak", url: "/files/iue/WiSe_2526/dozenten/Prof_Luczak.ics"},
      {label: "Prof. Lüssem", url: "/files/iue/WiSe_2526/dozenten/Prof_Lüssem.ics"},
      {label: "Prof. Manzke", url: "/files/iue/WiSe_2526/dozenten/Prof_Manzke.ics"},
      {label: "Prof. Mattes", url: "/files/iue/WiSe_2526/dozenten/Prof_Mattes.ics"},
      {label: "Prof. Mielke", url: "/files/iue/WiSe_2526/dozenten/Prof_Mielke.ics"},
      {label: "Prof. Neumann", url: "/files/iue/WiSe_2526/dozenten/Prof_Neumann.ics"},
      {label: "Prof. Osterwald", url: "/files/iue/WiSe_2526/dozenten/Prof_Osterwald.ics"},
      {label: "Prof. Patz", url: "/files/iue/WiSe_2526/dozenten/Prof_Patz.ics"},
      {label: "Prof. Petersen", url: "/files/iue/WiSe_2526/dozenten/Prof_Petersen.ics"},
      {label: "Prof. Prieß", url: "/files/iue/WiSe_2526/dozenten/Prof_Prieß.ics"},
      {label: "Prof. Prochnow", url: "/files/iue/WiSe_2526/dozenten/Prof_Prochnow.ics"},
      {label: "Prof. Rinder", url: "/files/iue/WiSe_2526/dozenten/Prof_Rinder.ics"},
      {label: "Prof. Schmidt. Rethmeier", url: "/files/iue/WiSe_2526/dozenten/Prof_Schmidt_Rethmeier.ics"},
      {label: "Prof. Schramm", url: "/files/iue/WiSe_2526/dozenten/Prof_Schramm.ics"},
      {label: "Prof. Schümann", url: "/files/iue/WiSe_2526/dozenten/Prof_Schümann.ics"},
      {label: "Prof. Weber", url: "/files/iue/WiSe_2526/dozenten/Prof_Weber.ics"},
      {label: "Prof. Wehrend", url: "/files/iue/WiSe_2526/dozenten/Prof_Wehrend.ics"},
      {label: "Prof. Woelk", url: "/files/iue/WiSe_2526/dozenten/Prof_Woelk.ics"},
      {label: "Prof. Wree", url: "/files/iue/WiSe_2526/dozenten/Prof_Wree.ics"},
      {label: "P. Farshidfar", url: "/files/iue/WiSe_2526/dozenten/P_Farshidfar.ics"},
      {label: "Ryan. Jones", url: "/files/iue/WiSe_2526/dozenten/Ryan_Jones.ics"},
      {label: "R. Hellmund", url: "/files/iue/WiSe_2526/dozenten/R_Hellmund.ics"},
      {label: "R. Raßmann", url: "/files/iue/WiSe_2526/dozenten/R_Raßmann.ics"},
      {label: "S. Herzog", url: "/files/iue/WiSe_2526/dozenten/S_Herzog.ics"},
      {label: "S. Koß", url: "/files/iue/WiSe_2526/dozenten/S_Koß.ics"},
      {label: "S. Schmarbeck", url: "/files/iue/WiSe_2526/dozenten/S_Schmarbeck.ics"},
      {label: "T. Greve", url: "/files/iue/WiSe_2526/dozenten/T_Greve.ics"},
      {label: "T. Prykhodko", url: "/files/iue/WiSe_2526/dozenten/T_Prykhodko.ics"},
      {label: "T. Rixen", url: "/files/iue/WiSe_2526/dozenten/T_Rixen.ics"},
      {label: "T. Wegert", url: "/files/iue/WiSe_2526/dozenten/T_Wegert.ics"},
      {label: "T. Wilts", url: "/files/iue/WiSe_2526/dozenten/T_Wilts.ics"},
      {label: "V. Baierbach", url: "/files/iue/WiSe_2526/dozenten/V_Baierbach.ics"},
      {label: "V. Zylla", url: "/files/iue/WiSe_2526/dozenten/V_Zylla.ics"},
      {label: "Y. Bockholt", url: "/files/iue/WiSe_2526/dozenten/Y_Bockholt.ics"},
    ]}
  />
</Layout>
