<p>
    <b style="color:orange">
        Es wird keinerlei Haftung für die Daten der Pläne übernommen.
    </b>
    Bitte prüft den Plan vor der Nutzung auf Richtigkeit. Nutzt hierzu bitte die
    offiziellen Pläne eures jeweiligen Fachbereiches.
</p>
