---
interface Props {
    title?: string;
}

const { title } = Astro.props;
const web_title = "FH Kalender" + (title ? " - " + title : "");

const nav = [
    {
        title: "Informatik und Elektrotechnik",
        url: "/informatik-eletrotechnik",
    },
    {
        title: "Medien / Bauwesen",
        url: "/medien-bau",
    },
    {
        title: "Wirtschaft",
        url: "/wirtschaft",
    },
];
---

<header class="container" style="padding-bottom: 1rem;">
    <aside>
        <a href="/">
            <h1>{web_title}</h1>
        </a>
    </aside>

    <div class="grid">
        {
            nav.map((item) => (
                <a
                    href={item.url}
                    role="button"
                    class="contrast"
                    style="display: grid; place-items: center; margin-bottom: 1rem;"
                >
                    {item.title}
                </a>
            ))
        }
    </div>
</header>
